:root{
    --lightGrey:#F2F2F2;
    --grey:#7E7E7E;
    --off-black: #191919;
    --white: #ffffff;
    --purple: #4B0081;
    --lavender: #C7B0D8;
    --black:#000000;
    --darkGrey: #2d2d2d;
}

p,
.text-grey{
    color: var(--grey);
}
.text-black{
    color: var(--black);
}
.text-white{
    color: var(--white);
}
.bg-white{
    background: var(--white);
}
.bg-purple{
    background: var(--purple);
}
.text-purple{
    color: var(--purple);
}
.bg-lavender{
    background: var(--lavender);
}
.bg-dark-grey{
    background: var(--darkGrey);
}
/*************Header*************/
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding:44px 0;
}
header{
    position: fixed;
    width: 100%;
}
.navbar-links{
    gap:40px;
}
.hamburger, .nav-mobile {
    display: none;
}

.nav-mobile{
        position: fixed;
       top: 16%;
    right: 1%;
    transform: translateY(100%);
    width: 255px;
    /* height: 306px; */
    /* background: var(--white); */
    /* background: rgba(66, 168, 243, 0.2); */
    background-color: rgba(0, 14, 43, 0.6);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    pointer-events: none;
    transition: transform 0.45s ease, opacity 0.3s ease;
    z-index: 9;
    text-decoration: none;
    color: #000;
}

.nav-mobile.active { transform: translateY( -20px); opacity: 1; pointer-events: auto;    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 30px;
    background: rgb(255, 255, 255); }
.hamburger.active{ background: #fff; box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); }
.bar.active{ background-color: var(--background); }
.hamburger {
    width: 50px;
    height: 50px;
    background: transparent;
    /* box-shadow: 0 4px 30px rgba(197, 0, 0, 0.1); */
    /* backdrop-filter: blur(19.1px); */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.bar { width: 22px; height: 2px;  background-color: #000; transition: 0.3s ease; }
.hamburger.active .bar:nth-child(2) { opacity: 0; }
.hamburger.active .bar:nth-child(1) { transform: translateY(7px) rotate(45deg); background-color: #000; }
.hamburger.active .bar:nth-child(3) { transform: translateY(-7px) rotate(-45deg); background-color: #000 }
.hamburger, .nav-mobile{ display: none; } 

/*******Hero Wrapper**********/
.hero-wrapper{
    height: 100vh;
    background: linear-gradient(180deg, #fff 0%, #efecf4 41%, #f2f8eb 100%);
}
.hero-row{
    height: 100%;
    gap:65px;
}
.hero-col-one{
    width: 756px;
}
/* .hero-col-two{
    width: calc(100% - 756px);
} */
.hero-desc{
    color: var(--off-black);
    margin-top:20px;
}
.book-btn-icon{
    width: 50px;
    height: 50px;
    filter: drop-shadow(10px 12px 30.6px rgba(0, 0, 0, 0.2));
}
.book-demo-inner{
    margin-top:60px;
    gap:20px;
}
.recent-activity-circle{
    width: 600px;
    height: 600px;
    border:1px solid #000000;
    border-radius: 50%;
}
.ra-circle-mini{
    width: 450px;
    height: 450px;
    background-color: var(--lavender);
    border-radius: 50%;
}
.graph-two{
    width: 156px;
    right:0;
    bottom:0;
}
.graph-three{
    width: 170px;
    left:0;
    bottom:0;
}
.ra-shapes{
    width: 30px;
    height: 30px;
    position: absolute;
    display: block;
}
.ra-shapes.diamond{
    transform: rotate(-24.85deg);
    border-radius: 5px;
}
.ra-shapes.diamond.one{
    top:0;
    right: 32%;
}
.ra-shapes.diamond.two{
    right: 46%;
    bottom: -2%;
}
.ra-shapes.circle{
    border-radius: 50%;
}
.ra-shapes.circle.right{
    top:50%;
    right: -2.5%;
}
.ra-shapes.circle.left{
    top: 50%;
    left: -2.5%;
}
.ra-circle-lg{
    position: absolute;
    top: 8%;
    left: 7.5%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.hero-col-two{
    padding-top:36px;
}

/*********home statistics wrapper************/
.stats-row{
    gap:158px;
}
.stats-col-one{
    width: 397px;
}
.stats-col-two{
    width: 885px;
}
.stats-count-row{
    margin: 60px 0 0;
}
.stats-list{
    gap:60px;
    justify-content: flex-end;
}
.stats-count{
    justify-content: flex-end;
    height: 100%;
}
.stats-item{
    width: 255px;
    padding:30px;
}
.stats-item.one{
    height: 177px;
}
.stats-item.two{
    height: 276px;
}
.stats-item.three{
    height: 361px;
}
.stats-count .h1,
.stats-count p{
    margin-bottom: 0;
}
/*******Footer**********/
footer{
    background-color: var(--lightGrey);
}
.footer-inner-main,
.copyright{
    justify-content: space-between;
}
.f-col-one{
    width: 320px;
    justify-content: space-between;
    gap:52px;
}
.f-right-cols{
    gap:90px;
}
.f-col-two{
    width: 175px;
}

.f-col-three{
    width: 180px;
}

.f-col-four{
    width: 315px;
}
.f-c-list{
    gap:12px;
    margin-bottom: 10px;
}
.f-desc{
    margin-top:20px;
}
.footer-inner-main{
    padding-bottom: 60px;
}
footer{
    padding-top:150px;
}
.form-control{
    border:1px solid var(--grey);
    height: 48px;
    margin-bottom: 16px;
    padding: 12px 20px;
    color: var(--grey);
}
.newletter-form{
    margin-top: 14px;;
}
.social-links{
    gap: 10px;
}
.copyright-links{
    gap:34px;
}
.main-btn{
    gap:20px;
    align-items: center;
}
.btn-icon{
    width: 30px;
    height: 30px;
    background-color: #000;
}
.centered-block{
 display: flex;
 align-items: center;
 justify-content: center;
}