@media screen and (min-width: 640px) {}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1200px) {.container  {max-width: calc(992px + 36px)}}
@media screen and (min-width: 1300px) {.container  {max-width: calc(1100px + 36px)}}
@media screen and (min-width: 1440px) {.container  {max-width: calc(1280px + 36px)}}
@media screen and (min-width: 1600px) { .container  {max-width: calc(1360px + 36px)}}
@media screen and (min-width: 1800px) { .container { max-width: calc(1440px + 36px); } }



/* ======= MIN-WIDTH COMPLETED ======= */


@media screen and (max-width: 1799px) {
    .stats-row {
    gap: 128px;
}
.stats-item {
    width: 245px;
}
.stats-col-one {
    width: 380px;
}
.stats-col-two {
    width: 860px;
}
}

@media screen and (max-width: 1599px) {
     .recent-activity-circle{
        width: 550px;
        height: 550px;
    }
.hero-col-one {
    width: 615px;
}
   .ra-circle-lg{
    width: 70px;
    height: 70px; 
}
.ra-circle-lg svg{
    width: 51px;
}
.stats-list{
    gap:40px;
}
.stats-col-one {
    width: 340px;
}
.stats-col-two {
    width: 839px;
}
} 

@media screen and (max-width: 1439px) {
 
    .hero-col-one {
        width: 505px;
    }
    .hero-row {
    gap: 45px;
    }
    .stats-col-one {
    width: 280px;
}
    .stats-col-two {
    width: 719px;
}
.stats-row{
    gap:100px;
}
.stats-count-row{
    margin: 20px 0 0;
}
.f-col-one{
    width: 250px;
}
.f-right-cols {
    gap: 60px;
}
    .stats-item {
        width: 215px;
    }
    .stats-item.three {
    height: 341px;
}
.stats-item.two {
    height: 266px;
}
.stats-item{
    padding:20px;
}
}

@media screen and (max-width: 1359px) {}   

@media screen and (max-width:1299px){
    .navbar-links {
    gap: 25px;
}
    .hero-col-one {
        width: 450px;
    }
    .hero-row{
        gap:35px;
    }
        .recent-activity-circle {
        width: 500px;
        height: 500px;
    }
    .ra-circle-mini{
        width: 400px;
        height: 400px;
    }
    .book-demo-inner{
        margin-top: 50px;
    }
        .stats-col-two {
        width: 616px;
    }
    .stats-col-one {
        width: 291px;
    }
    .stats-row{
        gap:60px;
    }
        .stats-list {
        gap: 30px;
    }
        .stats-item {
        width: 195px;
    }
    .stats-count .h6{
        font-size: 18px;
    }
        .f-col-one {
        width: 245px;
    }
        .f-right-cols {
        gap: 30px;
    }
    .copyright-links {
    gap: 24px;
}
footer .text-16{
    font-size: 14px;
    line-height: 20px;
}
}

@media screen and (max-width: 1199px) {
 
}

@media screen and (max-width: 1023px) {
    .navbar-links.nav-mobile{
   flex-direction: column;
   gap:10px;
}
.hamburger,
.navbar-links.nav-mobile{
    display: flex;
}
.navbar-links{
    display: none;
}
.nav-wrapper{
    padding:22px 0;
}
}

@media screen and (max-width: 991px) {} 

@media screen and (max-width: 839px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 575px) {}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 459px) {}

@media screen and (max-width: 400px) {}

@media screen and (max-width: 374px) {}

@media screen and (max-width: 359px) {}