@media screen and (min-width: 640px) {}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1200px) {.container  {max-width: calc(992px + 36px)}}
@media screen and (min-width: 1300px) {.container  {max-width: calc(1100px + 36px)}}
@media screen and (min-width: 1440px) {.container  {max-width: calc(1280px + 36px)}}
@media screen and (min-width: 1600px) { .container  {max-width: calc(1360px + 36px)}}
@media screen and (min-width: 1800px) { .container { max-width: calc(1440px + 36px); } }



/* ======= MIN-WIDTH COMPLETED ======= */


@media screen and (max-width: 1799px) {}

@media screen and (max-width: 1599px) {
    .recent-activity-circle{
        width: 500px;
        height: 500px;
    }
    .ra-circle-mini{
       width: 400px;
        height: 400px; 
    }
    .hero-col-one {
    width: 535px;
}
} 

@media screen and (max-width: 1439px) {}

@media screen and (max-width: 1359px) {}   

@media screen and (max-width:1299px){
    .navbar-links {
    gap: 25px;
}
}

@media screen and (max-width: 1199px) {
 
}

@media screen and (max-width: 1023px) {
    .navbar-links.nav-mobile{
   flex-direction: column;
   gap:10px;
}
.hamburger,
.navbar-links.nav-mobile{
    display: flex;
}
.navbar-links{
    display: none;
}
.nav-wrapper{
    padding:22px 0;
}
}

@media screen and (max-width: 991px) {} 

@media screen and (max-width: 839px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 575px) {}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 459px) {}

@media screen and (max-width: 400px) {}

@media screen and (max-width: 374px) {}

@media screen and (max-width: 359px) {}