/* ======= MIN-WIDTH COMPLETED ======= */

@media screen and (max-width: 1799px) {
    .section {
        padding: 130px 0;
    }
    footer {
    padding-top: 130px;
}

    .recent-activity-circle {
        width: 550px;
        height: 550px;
    }

    .ra-circle-mini {
        width: 400px;
        height: 400px;
    }

    .ra-circle-lg {
        width: 70px;
        height: 70px;
    }

    .ra-circle-lg svg {
        width: 51px;
    }

    .hero-col-one {
        width: 736px;
    }
    .modals-wrapper.section{
          height: 726px;  
    }
    .curve-lg{
        top:0;
    }
    .curve-sm{
        top:57%;
    }

    .stats-row {
        gap: 96px;
    }

    .stats-item {
        width: 245px;
    }

    .stats-col-one {
        width: 353px;
    }

    .stats-col-two {
        width: calc(100% - 353px - 96px);
    }

    .tools-item {
        padding: 30px 30px 30px 40px;
    }
    .tools-img {
        margin-top: 35px;
    }

    .stats-list{
        gap:50px;
    }

    .op-desc {
        width: 95%;
    }

    .op-col-one {
        width: 621px;
    }

    .op-col-two {
        width: 701px;
    }

    .hero-col-one h1 {
        width: 100%;
    }

    .b-feature-item {
        width: 633px;
    }

    .b-post-items.mini {
        width: 687px;
    }
    .op-item-title.four {
        width: 129px;
    }
    .op-item-title.two {
        width: 165px;
        right: -22px;
    }
    .eco-title .h6{
        font-size: 18px;
        line-height: 26px;
    }
    .b-post-items.mini .b-post-img{
        height: 183px;
    }
    .team-testimonial-inner {
        gap: 160px;
    }
    .t-testimonial-slider{
    width: calc(100% - 222px - 160px);
}
.nav-seprator{
    width: 161px;
}
.eco-item {
    width: 297px;
}

}

@media screen and (max-width: 1599px) {

    h1,
    .h1 {
        font-size: 46px;
        line-height: 54px;
    }

    h2,
    .h2 {
        font-size: 38px;
        line-height: 46px;
    }
       h4,
    .h4 {
        font-size: 26px;
        line-height: 32px;
    }

    h6,
    .h6,
    p {
        font-size: 18px;
        line-height: 26px;
    }

    .nav-wrapper {
        padding: 28px 0;
    }

    .hero-col-one {
        width: 615px;
    }

    .recent-activity-circle {
        width: 500px;
        height: 500px;
    }

    .ra-circle-mini {
        width: 370px;
        height: 370px;
    }

    .ra-circle-lg {
        width: 65px;
        height: 65px;
    }

    .ra-circle-lg svg {
        width: 51px;
    }
    .modals-wrapper{
        height: 540px;
    }

    .book-demo-inner {
        margin-top: 40px;
    }

    .navbar-links .text-18 {
        font-size: 16px;
        line-height: 22px;
    }

    .stats-list {
        gap: 40px;
    }

    .stats-col-one {
        width: 330px;
    }

    .stats-col-two {
        width: calc(100% - 330px - 96px);
    }
        .stats-item {
        width: 225px;
        padding:30px 20px;
    }
.stats-item.three {
    height: 341px;
}
.stats-item.two {
    height: 256px;
}
.f-right-cols {
    gap: 60px;
}

    .tools-item {
        padding: 40px 30px 30px 40px;
        height: 398px;
    }

    .tools-item.purple,
    .tools-item.blue {
        width: 589px;
    }

    .tools-item.orange,
    .tools-item.green {
        width: 565px;
    }

    .tools-img {
        margin-top: 30px;
    }

    .tools-title .h4 {
        margin-bottom: 10px;
    }

    .op-row {
        gap: 36px;
    }

    .op-col-one {
        width: 584px;
    }

    .op-col-two {
        width: 659px;
    }

    .op-desc {
        width: 96%;
    }

    .op-item-title.two {
        right: -40px;
    }

    .op-item-title.four {
        left: 0;
    }

    .tools-row {
        gap: 25px;
    }

    .tools-row.two {
        margin-top: 25px;
    }

    .eco-title .h4 {
        margin-bottom: 10px;
    }
    .b-post-items.mini p{
           font-size: 16px;
    line-height: 24px;
    }

    .b-feature-item {
        width: 579px;
    }

    .b-post-items.mini {
        width: 670px;
    }

    .blog-row-inner,
    .b-post-items.mini {
        gap: 30px;
    }

    .b-post-items.mini .b-post-img {
        width: 321px;
        height: 185px;
    }

    .b-post-items.mini .b-post-title {
        width: calc(100% - 321px);
    }

    .team-testimonial-inner {
        gap: 130px;
    }

    .t-testimonial-slider {
        width: calc(100% - 222px - 130px);
    }
    .name-initial {
    width: 70px;
    min-width: 70px;
    height: 70px;
}
    .eco-item {
        width: 272px;
    }
        .modals-wrapper.section {
        height: 686px;
    }

}

@media screen and (max-width: 1439px) {

    h1,
    .h1 {
        font-size: 42px;
        line-height: 54px;
    }

    h2,
    .h2 {
        font-size: 34px;
        line-height: 44px;
    }

    h4,
    .h4 {
        font-size: 24px;
        line-height: 32px;
    }

    h5,
    .h5 {
        font-size: 22px;
        line-height: 32px;
    }
        h6, .h6, p {
        font-size: 16px;
        line-height: 24px;
    }
    .main-btn{
    gap:15px;
}

    .t-name .h5 {
        font-size: 20px;
        line-height: 28px;
    }

    .t-name .text-18 {
        font-size: 16px;
        line-height: 24px;
    }

    .navbar-logo {
        width: 130px;
    }

    .nav-wrapper {
        padding: 24px 0px;
    }

    .navbar-links {
        gap: 30px;
    }

    .hero-wrapper {
        height: 670px;
    }
    .hero-desc{
        width: 98%;
    }

    .recent-activity-circle {
        width: 450px;
        height: 450px;
    }

    .ra-circle-mini {
        width: 350px;
        height: 350px;
    }

    .ra-circle-lg {
        width: 55px;
        height: 55px;
    }

    .ra-shapes {
        width: 25px;
        height: 25px;
    }

    .book-btn-icon {
        width: 45px;
        height: 45px;
    }

    .ra-circle-lg svg {
        width: 41px;
    }
    .fq-show-icon {
    width: 58px;
    height: 58px;
    }

    .b-arrw {
        width: 18px;
    }
    .modals-wrapper.section{
        height: 650px;
    }
        .curve-lg {
        top: 34px;
    }

    .book-demo-inner .text-18 {
        font-size: 16px;
        line-height: 22px;
    }

    .hero-col-one {
        width: 505px;
    }

    .hero-row {
        gap: 45px;
    }

    .stats-col-one {
        width: 274px;
    }

    .stats-col-two {
        width: calc(100% - 274px - 60px);
    }

    .stats-row {
        gap: 80px;
    }
    .stats-list {
        gap: 30px;
    }

    .stats-count-row {
        margin: 10px 0 0;
    }

    .f-col-one {
        width: 250px;
    }

    .f-right-cols {
        gap: 40px;
        width: calc(100% - 250px - 60px);
    }
    .f-col-two {
    width: 30%;
}
    .f-col-three {
    width: 30%;
}
    .f-col-four {
    width: 40%;
}
    .stats-item {
        width: 195px;
    }

    .stats-item.three {
        height: 331px;
    }

    .stats-item.two {
        height: 266px;
    }

    .stats-item {
        padding: 20px;
    }

    .tools-item.purple,
    .tools-item.blue {
        width: 524px;
    }

    .tools-item.orange,
    .tools-item.green{
        width: 467px;
    }

    .tools-item {
        padding: 30px;
        height: 375px;
    }

    .ai-center-icon {
        width: 196px;
        height: 196px;
    }

    .op-item-number.four {
        left: 7px;
    }

    .op-item-number.three {
        bottom: 7px;
    }

    .op-item-number.two {
        right: 7px;
    }

    .op-item-number.one {
        top: 7px;
    }

    .op-item-number {
        width: 30px;
        height: 30px;
    }

    .op-item-number span {
        font-size: 18px
    }
    .op-text.text-18{
        font-size: 16px;
        line-height: 22px;
    }
    .op-item-title.h5{
        font-size: 20px;
        line-height: 28px;
    }
    .op-dashed-circle svg{
        width: 250px;
        height: 250px;
    }

    .op-item-title.one {
        width: 130px;
        top: 38px;
    }

    .op-item-title.two {
        width: 140px;
        right: -30px;
    }

    .op-item-title.three {
        width: 149px;
        bottom: 38px;
    }

    .op-item-title.four {
        width: 110px;
        left: 5px;
    }

    .op-col-one {
        width: 441px;
    }

    .op-col-two {
        width: 539px;
    }

    .b-post-items.mini .b-post-img {
        width: 281px;
        height: 155px;
    }
      .b-post-items.mini p{
           font-size: 14px;
    line-height: 22px;
    }

    .b-post-items.mini .b-post-title {
        width: calc(100% - 281px);
    }
    .b-feature-item .b-post-title {
    margin: 20px 0 16px;
}
.b-category-inner{
    margin-top:6px;
}
.blog-row-inner{
    margin-top: 30px;
}
.main-title.center {
    margin-bottom: 48px;
}
.main-title.center h2{
    margin-bottom: 10px;
} 
.ai-icon {
    width: 60px;
    height: 60px;
}
.ai-icon img{
    width: 28px;
}
    .eco-title .h6 {
        font-size: 16px;
        line-height: 24px;
    }
    .b-post-title .h4 {
        margin-bottom: 10px;
    }

    .b-feature-item {
        width: 430px;
    }

    .b-post-items.mini {
        width: 549px;
    }

    .b-post-items.mini .b-post-img img {
        height: 100%;
        object-fit: cover;
    }

    .b-col-one {
        width: 55%;
    }

    .b-col-two {
        width: 45%;
    }

    .team-testimonial-inner {
        gap: 80px;
    }

    .t-testimonial-slider {
        width: calc(100% - 222px - 80px);
    }

    .t-testimonial-slider .testi-desc {
        padding: 40px 30px;
    }

    .nav-seprator {
        width: 130px;
    }

    .name-initial {
        width: 60px;
        min-width: 60px;
        height: 60px;
    }

    .fq-col-one {
        width: 500px;
    }

    .fq-col-two {
        width: calc(100% - 500px - 36px);
    }

    .fq-col-one .op-desc {
        width: 87%;
    }

    .faq-accordian .accordion-header {
        padding: 16px;
    }

    .tools-item.orange .tool-sm {
        bottom: -40px;
        left: -14px;
    }

    .eco-row {
        gap: 20px;
    }
    .f-c-list .text-16,
    .copyright-links .text-16{
        font-size: 14px;
        line-height: 22px;
    }
    .copyright-links {
    gap: 24px;
}
}


@media screen and (max-width:1359px) {

    h1,
    .h1 {
        font-size: 38px;
        line-height: 48px;
    }

    h2,
    .h2 {
        font-size: 32px;
        line-height: 40px;
    }

    h4,
    .h4 {
        font-size: 22px;
        line-height: 30px;
    }

    h5,
    .h5 {
        font-size: 22px;
        line-height: 32px;
    }

    h6,
    .h6,
    p {
        font-size: 16px;
        line-height: 24px;
    }

    .section {
        padding: 100px 0;
    }
    footer {
    padding-top: 100px;
}

    .navbar-links .text-18 {
        font-size: 14px;
        line-height: 20px;
    }

    .nav-wrapper {
        padding: 22px 0px;
    }

    .hero-wrapper {
        height: 600px;
    }

    .navbar-links {
        gap: 25px;
    }

    .hero-col-one {
        width: 450px;
    }

    .hero-row {
        gap: 35px;
    }

    .book-demo-inner {
        margin-top: 25px;
    }

    .ra-circle-mini {
        width: 310px;
        height: 310px;
    }

    .recent-activity-circle {
        width: 400px;
        height: 400px;
    }

    .ra-circle-lg {
        width: 50px;
        height: 50px;
    }

    .ra-circle-lg svg {
        width: 34px;
    }

    .ra-shapes {
        width: 22px;
        height: 22px;
    }

    .book-btn-icon {
        width: 40px;
        height: 40px;
    }

    .b-arrw {
        width: 16px;
    }

    .book-demo-inner .text-18 {
        font-size: 14px;
        line-height: 20px;
    }
        .modals-wrapper {
        height: 480px;
    }

    .stats-count-row {
        margin: 20px 0 0;
    }

    .stats-col-two {
        width: 616px;
    }

    .stats-col-one {
        width: 291px;
    }

    .stats-row {
        gap: 60px;
    }

    .stats-list {
        gap: 30px;
    }

    .stats-item {
        width: 195px;
    }

    .stats-count .h6 {
        font-size: 18px;
    }

    .f-col-one {
        width: 245px;
    }

    .f-right-cols {
        gap: 30px;
    }
    .f-right-cols {
        width: calc(100% - 245px - 40px);
    }

    .stats-item.three {
        height: 321px;
    }

    .copyright-links {
        gap: 20px;
    }

    footer .text-16 {
        font-size: 14px;
        line-height: 20px;
    }

    .main-title.center {
        margin-bottom: 48px;
    }

    .tools-item.purple,
    .tools-item.blue {
        width: 53%;
    }

    .tools-item.orange,
    .tools-item.green {
        width: 47%;
    }

    .tools-row {
        gap: 20px;
    }

    .tools-row.two {
        margin-top: 20px;
    }
    .tools-item {
        height: 370px;
        padding: 30px 20px;
    }

    .tools-img {
        margin-top: 20px;
    }
        .ai-center-icon {
        width: 166px;
        height: 166px;
    }

    .ai-icon {
        width: 60px;
        height: 60px;
    }

    .ai-icon img {
        width: 45%;
    }
    .op-col-one {
        width: 370px;
    }
     .op-col-two {
        width: calc(100% - 370px - 52px);
    }
        .op-row {
        gap: 52px;
    }
        .op-item-title.h5 {
        font-size: 18px;
        line-height: 26px;
    }
    .b-post-items.mini .b-post-img{
        height: 154px;
    }
        .name-initial {
        width: 50px;
        min-width: 50px;
        height: 50px;
    }
    .t-testimonial-slider .testi-desc{
        margin-bottom: 36px;
    }
    .custom-navigation{
        margin-top: 20px;
    }
    .ai-center-icon img{
        width: 80px;
    }

    .op-item-title.two {
       width: 118px;
        right: 6px;
    }

    .op-item-title.four {
        width: 95px;
        left: 26px;
    }

    .b-feature-item {
        width: 450px;
    }

    .b-post-items.mini {
        width: calc(100% - 450px - 20px);
    }

    .b-post-items.mini .b-post-img {
        width: 250px;
    }

    .b-post-items.mini .b-post-title {
        width: calc(100% - 250px - 20px);
    }
    .blog-row-inner, .b-post-items.mini {
        gap: 26px;
    }

    .eco-title {
        padding: 16px;
        height: 168px;
    }

    .eco-title .h4 {
        font-size: 22px;
        line-height: 30px;
    }
        .b-feature-item .b-post-title {
        margin: 20px 0 10px;
    }

    .team-testimonial-inner {
        gap: 60px;
    }

    .t-testimonial-slider {
        width: calc(100% - 222px - 60px);
    }

    .t-name .h5 {
        font-size: 18px;
        line-height: 26px;
    }

    .t-testimonial-slider .testi-desc {
        padding: 20px;
    }
    .b-meta .text-16{
        font-size: 14px;
        line-height: 22px;
    }
        .blog-row-inner {
        margin-top: 20px;
    }
        .t-name .text-18 {
        font-size: 14px;
        line-height: 22px;
    }
        .fq-col-one {
        width: 400px;
    }
         .fq-col-two {
        width: calc(100% - 400px - 36px);
    }

    .plans-row {
        gap: 30px;
    }
}

@media screen and (max-width: 1199px) {
      .modals-wrapper.section{
        height: 550px;
    }
      .fq-show-icon {
    width: 55px;
    height: 55px;
    }
  
        .recent-activity-circle {
        width: 380px;
        height: 380px;
    }
        .ra-circle-mini {
        width: 290px;
        height: 290px;
    }
        .ra-circle-lg {
        width: 45px;
        height: 45px;
    }
        .ra-circle-lg svg {
        width: 30px;
    }
        .stats-col-one {
        width: 260px;
    }
    .stats-col-two {
        width: 544px;
    }
        .stats-row {
        gap: 40px;
    }
        .hero-col-one {
        width: 425px;
    }
        .ai-icon {
        width: 55px;
        height: 55px;
    }
        .ai-center-icon {
        width: 166px;
        height: 166px;
    }
        .ai-center-icon img {
        width: 90px;
    }
    .ai-modals-row {
        height: 247px;
    }
    .ai-icon.calender,
    .ai-icon.assignment{
        bottom:17%;
    }
        .op-text.text-18 {
        font-size: 14px;
        line-height: 20px;
        width: 70%;
    }
    .op-item-number.four {
        left: 20px;
    }
    .op-item-number.three {
        bottom: 20px;
    }
    .op-item-number.two {
        right: 20px;
    }
    .op-item-number.one {
        top: 20px;
    }
    .op-dashed-circle svg {
        width: 230px;
        height: 230px;
    }
        .op-col-one {
        width: 330px;
    }
        .op-col-two {
        width: calc(100% - 330px - 30px);
    }
        .op-item-title.h5 {
        font-size: 18px;
        line-height: 26px;
    }
        .op-item-title.two {
        width: 125px;
        right: -25px;
    }
        .op-item-title.four {
        width: 98px;
        left: 0;
    }
        .op-item-title.three {
        width: 134px;
        bottom: 55px;
    }
    .op-item-title.one{
        top:56px;
    }
        .op-row {
        gap: 30px;
    }
    .plans-row {
        gap: 30px;
    }
    .plan-separator{
        height: 168px;
    }
    .b-col-one {
        width: 56%;
    }
    .b-col-two {
        width: 44%;
    }
        .blog-row-inner {
         gap:40px;
    }
    .blog-row-inner{
        flex-direction: column;
    }
    .b-feature-item{
        display: flex;
        gap:20px;
    }
    .b-post-img,
    .b-post-content{
        width: 50%;
    }
    .b-feature-item,
    .b-post-items.mini{
        width: 100%;
    }
    .b-feature-item .b-post-title {
        margin: 0 0 10px;
    }
    .b-post-items.mini{
        flex-direction: row;
    }
    .b-post-items.mini .post-item{
        flex-direction: column;
    }
    .b-post-items.mini .b-post-title,
    .b-post-items.mini .b-post-img {
        width:100%;
    }
    .t-testimonial-slider .testi-desc{
        height: 150px;
    }

    .b-post-img img{
        height: 100%;
        object-fit: cover; 
    }
    .f-right-cols{
       flex-wrap: wrap;
    }
    .f-col-two, .f-col-three {
        width: calc(50% - 30px);
    }
    .f-col-four{
        width: 100%;
    }
    .f-col-one{
        justify-content: flex-start;
    }
    .f-right-cols .form-control{
        width: 90%;
    }
        .eco-title {
        height: 188px;
        }
}

@media screen and (max-width: 1023px) {
           h1, .h1 {
        font-size: 34px;
        line-height: 44px;
    }
        h2, .h2 {
        font-size: 28px;
        line-height: 36px;
    }
    .navbar-links.nav-mobile {
        flex-direction: column;
        gap: 10px;
    }

    .hamburger,
    .navbar-links.nav-mobile {
        display: flex;
    }

    .navbar-links {
        display: none;
    }

    .nav-wrapper {
        padding: 22px 0;
    }
        .ra-circle-mini {
        width: 260px;
        height: 260px;
    }
        .recent-activity-circle {
        width: 350px;
        height: 350px;
    }
    .stats-col-one {
        width: 260px;
    }
    .stats-col-two {
        width: 446px;
    }
        .main-title.center {
        margin-bottom: 40px;
    }
    .hero-col-one {
        width: 315px;
    }
       .tools-item.orange,
    .tools-item.green,
     .tools-item.purple,
      .tools-item.blue {
        width: 50%;
    }
    .ai-icon.thumb-up{
        right: 26%;
    }
       .modals-wrapper.section{
        height: 480px;
    }
    .op-row{
        flex-direction: column;
    }
    .op-col-one,
    .op-desc{
        width: 100%;
    }
    .op-col-two{
        width: 70%;
        height: 448px;
    }
        .op-item-title.one {
        top: 31px;
    }
    .op-item-title.three{
        bottom: 29px;
    }
        .eco-item {
        width: calc(50% - 20px);
    }
    .eco-row{
        flex-wrap: wrap;
    }
    .eco-title{
        height: 144px;
    }
    .tools-item {
        height: 340px;
    }
    .op-desc,
    .fq-col-one,
    .fq-col-two,
    .f-col-one,
    .f-right-cols{
        width: 100%;
    }
      .footer-inner-main{
        flex-direction: column;
    }
    .f-col-one.flex-col{
        flex-direction: row;
        align-items: flex-end;
    }
  
    .t-testimonial-slider .testi-desc {
        height: auto;
    }
    
    .t-title img{
        width: 76px;
    }
    .faq-row {
        flex-direction: column;
    gap: 20px;
}
.copyright{
    flex-direction: column;
    justify-content: center;
    gap:20px;
}
.f-right-cols h2{
    margin-bottom: 5px;
}
.f-right-cols{
    margin-top: 40px;
    width: 100%;
}

.footer-inner-main {
    padding-bottom: 50px;
}
    .f-col-two, .f-col-three,
    .f-col-four {
        width: calc(33.33% - 30px);
    }
    .f-logo{
        width: 60%;
    }
    .f-contact{
        width: 40%;
    }
    .hero-wrapper {
        height: 560px;
    }

}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 839px) {
        footer {
        padding-top: 70px;
    }
    .faq-img {
    width: 140px;
    margin: 0 auto 25px;
}
}

@media screen and (max-width: 767px) {
        h4, .h4 {
        font-size: 20px;
        line-height: 28px;
    }
    .hero-row{
        flex-direction: column;
        justify-content: center;
        gap: 25px;
    }
    .hero-col-one,
    .hero-col-two{
        width: 100%;
    }
    .hero-wrapper{
        height: auto;
        padding: 150px 0 130px;
    }
        .recent-activity-circle {
        width: 400px;
        height: 400px;
        margin:auto;
    }
        .ra-circle-mini {
        width: 300px;
        height: 300px;
    }
    .nav-wrapper {
        padding: 18px 0;
    }
        .stats-item {
        width: 165px;
    }
        .stats-item.three {
        height: 311px;
    }
    .stats-item.two {
        height: 246px;
    }
        .stats-list {
        gap: 20px;
    }
    .ai-center-icon {
        width: 146px;
        height: 146px;
    }
        .ai-center-icon img {
        width: 80px;
    }
        .ai-icon.calender, .ai-icon.assignment {
        bottom: 23%;
    }
        .ai-modals-row {
        height: 187px;
    }
    .op-item-title.four{
        left: -27px;
    }
    .op-item-title.two{
        right: -53px;
    }
    .op-row{
        gap: 20px; 
    }
    .op-col-two{
        height: 418px;
    }
    .op-item-title.one {
        top: 15px;
    }
    .op-item-title.three {
        bottom: 16px;
    }
    .plans-row{
        flex-direction: column;
    }
    .plan-item {
    width: 100%;
}
    .modals-wrapper.section {
        height: 380px;
    }
     .modals-wrapper  .main-title.center {
        margin-bottom: 0;
    }
    .curve-sm {
        top: 58%;
    }
    /* .ai-center-icon {
        width: 146px;
        height: 146px;
    }
    .ai-icon.chat {
        right: 11%;
    } */
.plan-separator {
        height: 1px;
        width: 100%;
    }
    .plan-btn {
    margin-top: 20px;
}
.t-title {
    width: 192px;
}
.t-testimonial-slider {
    width: calc(100% - 192px - 40px);
}
.team-testimonial-inner{
    gap: 40px;
}
    .t-title img {
        width: 56px;
    }
    .b-post-img, .b-post-content {
        width: 100%;
    }
    .b-feature-item {
        flex-direction: column;
    }
        .b-post-items.mini .b-post-img {
        height: 114px;
    }
    .b-post-items.mini{
        gap:16px;
    }
    .blog-row-inner{
        gap:30px;
    }
    .f-col-two, .f-col-three {
        width: calc(50% - 30px);
    }
    .f-col-four {
        width: 100%;
    }
        .ai-icon.person{
top:19%;
}
    .ai-icon.calender, .ai-icon.assignment {
        bottom: 16%;
    }
.ai-icon.add-reaction{
bottom: 16%;
    left: 18%;
}   
    .ai-center-icon {
        width: 126px;
        height: 126px;
    }
        .ai-center-icon img {
        width: 70px;
    }
        .ai-icon.thumb-up {
        right: 23%;
        top: 31%;
    }
    .ai-icon.chat{
        top:8%;
    }
    .ai-icon.add-ad {
    top: 31%;
    right: 1%;
}
.ai-icon.chat{
    right:12%;
}
.ai-icon.assignment{
    right:13%;
}
.modals-wrapper {
        height: 420px;
    }
    .curve-sm{
        top:52%;
    }
        .main-title.center {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 639px) {
        footer {
        padding-top: 50px;
    }
    .stats-item {
        width: 155px;
    }
    .stats-item.three {
        height: 291px;
    }
    .stats-item.two {
        height: 236px;
    }
    .tools-row{
        flex-direction: column;
    }
    .tools-item.orange, .tools-item.green, .tools-item.purple, .tools-item.blue{
        width: 100%;
    }
    .tools-item {
        height: 370px;
    }
        .main-title.center {
        margin-bottom: 30px;
    }
        .stats-row {
        gap: 30px;
    }
    .op-item-title.four {
        left: -47px;
    }
    .op-col-two{
        width: 100%;
    }
        .op-item-title.four {
        left: 34px;
    }
    .op-item-title.two {
        right: 8px;
    }
    .b-post-items.mini {
        flex-direction: column;
        gap:25px;
    }
    .b-post-items.mini .b-post-img {
        height: 184px;
    }
    .t-title,
    .t-testimonial-slider {
        width: 100%;
    }
    .team-testimonial-inner{
        flex-direction: column;
        gap:30px;
    }
    .b-post-items.mini .b-post-img{
        height: 240px;
    }  
    .b-post-items.mini .b-post-img img{
        width: 100%;
    }  
        .modals-wrapper.section {
        height: 350px;
    } 

}

@media screen and (max-width: 575px) {
    .stats-col-one,
    .stats-col-two{
        width: 100%;
    }
    .stats-row{
        flex-direction: column;
        gap:0;
    }
        .fq-show-icon {
        width: 35px;
        height: 35px;
        top:10px;
        right: 10px;
    }
    .fq-text{
        width: 91%;
    }
    .faq-img {
        width: 90px;
    }
    h2{
        margin-bottom: 10px;
    }
    .stats-item.one,
    .stats-item.two,
    .stats-item.three{
        height: 150px;
    }
    .stats-item.one{
        width: 60%;
    }
    .stats-item.two{
        width: 80%;
    }
    .stats-item.three,
    .b-col-one,
    .b-col-two{
        width: 100%;
    }
    .blog-title-row{
        gap:0;
    }
    .blog-title-row,
    .stats-list{
        flex-direction: column;
    }
    .stats-count .h1 {
        font-size: 30px;
        line-height: 38px;
    }
        .op-item-title.four {
        left: 10px;
        top: 52%;
        width: 90px;
    }
        .op-text.text-18 {
        width: 52%;
        font-size: 14px;
        line-height: 18px;
    }
        .op-item-title.two {
                top: 52%;
        right: -5px;
    }
        .op-item-title.h5 {
        font-size: 16px;
        line-height: 24px;
    }
    .op-item-title.two {
        width: 108px;
    }
    .op-dashed-circle svg {
        width: 210px;
        height: 210px;
    }
        .op-item-number {
        width: 25px;
        height: 25px;
    }
    .op-item-number.four {
        left: 30px;
    }
        .op-item-number.two {
        right: 30px;
    }
        .op-item-number.three {
        bottom: 30px;
    }
        .op-item-number.one {
        top: 30px;
    }
        .op-col-two {
        height: 368px;
    }
    .op-item-title.one {
        top: 7px;
    }
        .op-item-title.three {
        bottom: 6px;
    }
    .modals-wrapper.section {
        height: 460px;
    }
        .eco-title .h4 {
        font-size: 20px;
        line-height: 28px;
    }
    .eco-title{
        height: 184px;
    }
        .blog-row-inner {
        margin-top: 10px;
    }
    .curve-lg {
        top: 55%;
        transform: translateY(-50%);
    }
    .curve-sm {
        top: 56%;
    }
        .hero-wrapper {
        padding: 130px 0 80px;
    }
        .f-col-one.flex-col {
        flex-direction: column;
        align-items: flex-start;
        gap:20px;
    }
        .f-logo {
        width: 100%;
    }
.footer-inner-main {
        padding-bottom: 30px;
    }
    .f-col-four .f-desc{
        margin-top: 0;
    }
    .copyright-links{
        flex-wrap: wrap;
    justify-content: center;
    gap: 7px;
    }
        .ai-icon.person {
        top: -3%;
        left: 46%;
    }
        .ai-center-icon {
        width: 100px;
        height: 100px;
    }
    .ai-center-icon img {
        width: 60px;
    }
    .ai-icon.add-reaction {
        top: 8%;
        bottom: auto;
        left: 12%;

    }
    .ai-icon.calender{
        bottom: 35%;
        left: 5%;
    }
    .ai-icon.assignment{
           bottom: 0%;
        left: 17%;
    right: auto;
    }
    .ai-icon.chat {
        bottom: -2%;
        right: auto;
        top: auto;
        left: 52%;
    }
        .ai-icon.thumb-up {
        top: auto;
        right: 4%;
        bottom: 27%;
    }
        .ai-icon.add-ad {
       top: 14%;
        right: 8%;
    }
        .ai-modals-row {
        height: 257px;
        width: 314px;
        margin: 0 auto;
    }
        .modals-wrapper {
        height: 430px;
    }
    .op-items-inner {
    width: 430px;
    height: 100%;
    margin:0 auto;
    }
    .main-title.center{
        text-align: left;
    }
     .f-right-cols{
        margin-top: 20px;
        gap:20px;
    }

}

@media screen and (max-width: 480px) {
     .eco-row{
        flex-direction: column;
     }
     .eco-item,
     .eco-img img {
        width: 100%;
    }
        .eco-title {
        height: 124px;
    }
    .eco-item:nth-child(even){
        display: flex;
        flex-direction: column;
    }
     .eco-item:nth-child(even) .eco-title{
        order:2;
     }
     .recent-activity-circle {
        width: 350px;
        height: 350px;
     }
         .ra-circle-mini {
        width: 270px;
        height: 270px;
    }
            .tools-item {
        height: 340px;
    }
        .op-item-title.h5 {
        font-size: 14px;
        line-height: 22px;
    }
        .op-items-inner {
        width: 380px;
        }
        .op-item-title.four {
        left: 5px;
        }
        .op-item-title.two{
            right: -10px;
        }
        /* .op-items-inner {
        width: 100%;
        } */
    
}

@media screen and (max-width: 459px) {
        .op-dashed-circle svg {
        width: 190px;
        height: 190px;
    }
    .op-item-number.four {
        left: 41px;
    }
        .op-item-number.three {
        bottom: 41px;
    }
        .op-item-number.one {
        top: 41px;
    }
        .op-item-number.two {
        right: 41px;
    }
        .op-col-two {
        height: 348px;
    }
}

@media screen and (max-width: 400px) {
        .recent-activity-circle {
        width: 300px;
        height: 300px;
    }
        .ra-circle-mini {
        width: 230px;
        height: 230px;
    }
        .ra-circle-lg svg {
        width: 22px;
    }
    .ra-circle-lg{
        width: 35px;
        height: 35px;
    }
    .ra-shapes.diamond.one {
    top: -6px;
    right: 35%;
    }
        .ra-shapes {
        width: 20px;
        height: 20px;
    }
    .ra-shapes.circle.left{
        left:-3.5%;
    }
    .ra-shapes.diamond.two {
    bottom: -3%;
    }
    .ra-shapes.circle.right{
        right:-3.5%;
    }
    .hero-col-two {
    padding-top: 16px;
}
    .stats-count .h6 {
        font-size: 16px;
    }
        .op-items-inner {
        width:330px;
    }
        .op-dashed-circle svg {
        width: 180px;
        height: 180px;
    }
    .op-item-title.two {
        right: -22px;
        top:56%;
    }
        .op-item-title.four {
        left: -9px;
        top:56%;
    }
        .op-col-two {
        height: 338px;
    }
        .f-contact {
        width: 100%;
    }
        .b-post-items.mini .b-post-img {
        height: auto;
    }
    .ai-icon {
        width: 50px;
        height: 50px;
    }
        .modals-wrapper {
        height: 440px;
    }
        .stats-item.one, .stats-item.two, .stats-item.three {
        height: 130px;
    }
        .hero-wrapper {
        padding: 130px 0 70px;
    }
        .stats-count .h1 {
        font-size: 26px;
        line-height: 33px;
    }

}

@media screen and (max-width: 374px) {
    .op-items-inner {
        width:100%;
    }
        .f-col-two, .f-col-three {
        width: 100%;
    }
    .f-right-cols{
        flex-direction: column;
        margin-top: 20px;
        gap: 20px;
    }
        .modals-wrapper {
        height: 450px;
    }
}

@media screen and (max-width: 359px) {}