:root{
    --secondary-blue: #053EFF; 
    --seconary-orange: #F8791E;
}


.about-hero-wrapper{ 
    background-image: url(/images/aboutpage/about-hero.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-hero-text{ 
    width: 756px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    margin: 0 auto;
    color: var(--white);
}

.about-hero-text p{ color: var(--white); }

.build-to-advance-left-wrapper{ width: 581px;  }
.build-to-advance-left-wrapper p{ padding-top: 20px; }

.build-to-advance-wrapper{ display: flex; gap: 50px; align-items: flex-start; justify-content: space-between; }
.build-to-advance-right-wrapper{ width: 720px; background-color: var(--lightGrey); padding: 50px; display: flex; flex-direction: column; gap: 30px; }
.compliance-driven-by span img, .build-for-real-world span img{ width: 26px; height: 26px; display: flex; align-items: center; justify-content: center; }
.compliance-driven-by span, .build-for-safety-Operations{ 
    width: 60px; 
    height: 60px; 
    border-radius: 50%; 
    background-color: var(--secondary-green); 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.compliance-driven-wrapper{ width: 501px; }
.build-for-safety-Operations{ background-color: var(--secondary-bluish-purple); }
.compliance-driven-by, .build-for-real-world{ display: flex; align-items: flex-start; gap: 20px; }
.efficiencycase-wrapper{ text-align: center; }
.efficiency-step-card{ height: 332px; padding: 30px; ; }
.efficiency-step-card h3{ width: 220px; margin-top: 10px; margin-bottom: 20px; }
.efficiency-step-card ul li{ display: flex; gap: 20px; margin-bottom: 10px;}
.efficiency-step-card ul li span{ padding-top: 12px; }
.efficiency-steps-wrapper{ display: flex; gap: 20px; justify-content: space-between; align-items: flex-start;  margin-top: 60px;  position: relative; }
.efficiency-step-card-1{ border: 1px solid #CDD8FF; }
.efficiency-step-card-2{ border: 1px solid #F8D1D1; }
.efficiency-step-card-3{ border: 1px solid #D1EAD3; }
.efficiency-step-card-4{ border: 1px solid #DDD2FE; }

.about-steps-arrow{ 
    width: 38px; 
    height: 38px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: var(--secondary-primary);
    position: absolute;
    left: 22.5%;
    top: 50%;
    transform: translateY(-50%);
}
.about-steps-arrow-1{ position: absolute; left: 48.8%; }
.about-steps-arrow-2{ position: absolute; left: 74.8%; }

.efficiency-steps-wrapper-responsive{ display: none !important; }
.about-data-meets-medical-wrapper{ width: 100%; height: max-content; background-color: var(--darkGrey); }

.about-data-meets-medical-inner{ text-align: center;  }

.about-data-card{ display: flex; align-items: flex-start; width: 368px; height: 170px; text-align: left; gap: 20px; }

.about-data-cards-svg{ 
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center;     
}
.about-data-cards-svg-1{ background-color: var(--secondary-green); }
.about-data-cards-svg-2{ background-color: var(--secondaryPurple); }
.about-data-cards-svg-3{ background-color: var(--secondary-blue); }
.about-data-cards-svg-4{ background-color: var(--seconary-orange); }

.about-data-meets-medical-cards-wrapper{ display: flex; align-items: flex-start; gap: 46px; padding-top: 102px; padding-bottom: 90px; }
.about-medical-card-row-2{ width: 613px; }
.about-medical-card-row-2 .about-data-card-5 image{ width: 100% !important; height: 100% !important; object-fit: contain; }
.about-data-card-text{ width: 325px; }
.about-data-card-text h3{ margin-bottom: 14px; }
.about-data-card-text p{ margin-bottom: 0px; }

.medical-detail-cards {
  width: calc(33% - 20px);
  padding: 30px;
  text-align: left;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
}

.medical-detail-cards h4{ margin-bottom: 14px; } 
.medical-detail-cards p{ margin-bottom: 0px; } 
.medical-detail-cards-wrapper{ display: flex; align-items: flex-start; gap: 40px; }

.about-signal-management-section{ 
    width: 100%; 
    height: max-content;
    background: linear-gradient(
    180deg,
    #FFFFFF 0%,
    #EFECF4 41%,
    #F2F8EB 100%
    );
}
.about-signal-management-content{ display: flex; align-items: flex-start; gap: 80px; justify-content: space-between; }
.about-signal-management-title{ width: 652px; }
.about-signal-management-para{ width: 698px; }

.about-signal-management-cards{ 
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
    width: 100%; 
    height: 500px; 
    background-color: var(--white); 
    padding: 90px; 
    margin-top: 50px; 
}
.signal-management-text-left{ width: 562px; }
.signal-management-text-left h3{ width: 360px; }
.about-signal-management-cards-reverse{ flex-direction: row-reverse; }
.about-reporting-submission-compliance-inner{ text-align: center; margin-bottom: 60px; }
.about-reporting-compliance-left{ width: 884px; height: 690px; padding: 40px; background-color: var(--lightGrey); }
.about-reporting-compliance-detail-pointers{ display: flex; }
.compliance-reporting-point-1{ width: 775px; border-bottom: 1px solid #A7A7A7; }
.compliance-reporting-point-1:nth-child(1){ padding-bottom: 40px; }
.compliance-reporting-point-1:nth-child(2){ padding-top: 40px; padding-bottom: 40px; }
.compliance-reporting-point-1:nth-child(3){ padding-top: 40px; }
.compliance-reporting-point-1 p{ margin-bottom: 0; }
.about-data-meets-medical-cards-wrapper-responsive{ display: none; }