
.about-hero-wrapper{ 
    background-image: url(/images/aboutpage/about-hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;
}

.about-hero-text{ 
    width: 756px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    margin: 0 auto;
    color: var(--white);
}

.about-hero-text p{ color: var(--white); }

.build-to-advance-left-wrapper{ width: 581px;  }
.build-to-advance-left-wrapper p{ padding-top: 20px; }

.build-to-advance-wrapper{ display: flex; gap: 50px; align-items: flex-start; justify-content: space-between; }
.build-to-advance-right-wrapper{ width: 720px; background-color: var(--lightGrey); padding: 50px; display: flex; flex-direction: column; gap: 30px; }
.compliance-driven-by span img, .build-for-real-world span img{ width: 26px; height: 26px; display: flex; align-items: center; justify-content: center; }
.compliance-driven-by span, .build-for-safety-Operations{ 
    width: 60px; 
    height: 60px; 
    border-radius: 50%; 
    background-color: var(--secondary-green); 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.compliance-driven-wrapper{ width: 501px; }
.build-for-safety-Operations{ background-color: var(--secondary-bluish-purple); }
.compliance-driven-by, .build-for-real-world{ display: flex; align-items: flex-start; gap: 20px; }
.efficiencycase-wrapper{ text-align: center; }