.about-hero-wrapper{ 
    background-image: url(/images/aboutpage/about-hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-hero-text{ 
    width: 756px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    margin: 0 auto;
    color: var(--white);
}

.about-hero-text p{ color: var(--white); }

.build-to-advance-left-wrapper{ width: 581px;  }
.build-to-advance-left-wrapper p{ padding-top: 20px; }

.build-to-advance-wrapper{ display: flex; gap: 50px; align-items: flex-start; justify-content: space-between; }
.build-to-advance-right-wrapper{ width: 720px; background-color: var(--lightGrey); padding: 50px; display: flex; flex-direction: column; gap: 30px; }
.compliance-driven-by span img, .build-for-real-world span img{ width: 26px; height: 26px; display: flex; align-items: center; justify-content: center; }
.compliance-driven-by span, .build-for-safety-Operations{ 
    width: 60px; 
    height: 60px; 
    border-radius: 50%; 
    background-color: var(--secondary-green); 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.compliance-driven-wrapper{ width: 501px; }
.build-for-safety-Operations{ background-color: var(--secondary-bluish-purple); }
.compliance-driven-by, .build-for-real-world{ display: flex; align-items: flex-start; gap: 20px; }
.efficiencycase-wrapper{ text-align: center; }
.efficiency-step-card{ height: 332px; padding: 30px; ; }
.efficiency-step-card h3{ width: 220px; margin-top: 10px; margin-bottom: 20px; }
.efficiency-step-card ul li{ display: flex; gap: 20px; margin-bottom: 10px;}
.efficiency-step-card ul li span{ padding-top: 12px; }
.efficiency-steps-wrapper{ display: flex; gap: 20px; justify-content: space-between; align-items: flex-start;  margin-top: 60px;  position: relative; }
.efficiency-step-card-1{ border: 1px solid #CDD8FF; }
.efficiency-step-card-2{ border: 1px solid #F8D1D1; }
.efficiency-step-card-3{ border: 1px solid #D1EAD3; }
.efficiency-step-card-4{ border: 1px solid #DDD2FE; }

.about-steps-arrow{ 
    width: 38px; 
    height: 38px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: var(--secondary-primary);
    position: absolute;
    left: 22.5%;
    top: 50%;
    transform: translateY(-50%);
}
.about-steps-arrow-1{ position: absolute; left: 48.8%; }
.about-steps-arrow-2{ position: absolute; left: 74.8%; }

.efficiency-steps-wrapper-responsive{ display: none !important; }