/* ======= MIN-WIDTH COMPLETED ======= */


@media screen and (max-width: 1799px) {
    /* font-sizes */
    h1, .h1{ font-size: 48px; line-height: 56px; }
    h2, .h2{ font-size: 38px; line-height: 46px; }

    .container-sm{ width: 1200px; }

    /* about */
    .build-to-advance-right-wrapper{ width: 630px; padding: 50px 30px; }
    .build-to-advance-left-wrapper{ width: 550px; }
    .compliance-driven-by span, .build-for-safety-Operations{ width: 50px; height: 50px; }

    .compliance-driven-wrapper p{ margin-bottom: 0; }
    .efficiency-step-card{ height: 385px; }
    .compliance-driven-wrapper .h5{ margin-bottom: 12px; }
    .signal-management-text-left{ width: 500px; }
    .about-medical-card-row-2{ width: 472px; height: max-content; }
    .about-signal-management-cards{ height: 470px; }
    .signal-management-right{ width: 480px; }
    .compliance-reporting-point-1:nth-child(1){ padding-bottom: 20px; }
    .compliance-reporting-point-1:nth-child(2){ padding-top: 20px; padding-bottom: 20px; }
    .compliance-reporting-point-1:nth-child(3){ padding-top: 20px; }
    .compliance-reporting-point-1 h3{ margin-bottom: 10px; }
    .about-reporting-compliance-left{ padding: 30px 40px; width: 855px; height: 550px; }
    .about-signal-management-title{ width: 595px; }
    .about-signal-management-para{ width: 655px; }

    /* compliance */
    .compliance-pointers-card p{ width: 400px; }

    .compliance-validation-support-card-1, .compliance-validation-support-card-4{ width: 650px; height: 275px; }
    .compliance-validation-support-card-2, .compliance-validation-support-card-3{ width: 630px; height: 275px; }
    .compliance-validation-support-card p{ margin-bottom: 0; }
    .compliance-immutable-card-left{ width: 675px; }
    .compliance-immutable-card-right{ width: 567px; }

    .operational-card-right{ width: 555px; }
    .operational-card span{ width: 56px; height: 56px; }
    .compliance-security-btn-middle{ width: 400px; height: 190px; }

    .compliance-steps-card{ flex: 0 0 290px; }
    .compliance-steps-card:first-child:before{ width: 325px; }
    .compliance-steps-card:nth-child(2):before{ width: 285px; }
    .compliance-steps-card:nth-child(3):before{ left: 50px; width: 330px; }
    .compliance-steps-card:nth-child(4):before{ width: 280px; }
    .compliance-steps-card:nth-child(5)::before{ left: 50px; width: 330px; }
    .resources-tab-content .resource-card-image-wrapper{ height: 320px; }

    /* resources */
    .resource-heading-wrapper{ padding-top: 70px; }
    .contact-hero-section{ padding-top: 70px !important; }
    .blog-swiper-right{ width: 550px; }


    /* resourcesdetail */
    .resource-detail-hero-wrapper{ padding-top: 70px; }
    .blog-sm-container{ width: 1000px; }
    .resource-detail-banner-img{ width: 100%; height: 650px; margin: 0 auto; }
    .resource-detail-banner-img img{ width: 100%; height: 100%; object-fit: cover; }

    /* contact */
    .cnct-form-row-2 input, .cnct-form-row-3 textarea { width: 800px; }
    .cnct-form-row-1 input{ width: 380px; }

    /* pricing */
    .pc-item{ align-items: flex-start; }
    .pricing-hero-wrapper{ padding-top: 70px }

    /* footer */
    .f-col-four{ width: 285px; }
    .footer-inner{ padding-top: 200px; }
    .foot-padding{ padding-top: 120px !important; }

    .about-data-card-5 img { height: 300px; }
    .about-data-meets-medical-cards-wrapper { align-items: center; padding: 70px 0; }

}

@media screen and (max-width: 1599px) {
    .container-sm{ width: 1100px; }

    /* fonts */
    h1, .h1 { font-size: 42px; line-height: 50px; }
    h2, .h2 { font-size: 34px; line-height: 42px; }
    h3, .h3 { font-size: 28px; line-height: 36px; }
    h5, .h5 { font-size: 22px; line-height: 30px; }
    h6, .h6 { font-size: 16px; line-height: 24px; }
    .text-18 { font-size: 16px; line-height: 24px; }

    /* about */
    .efficiency-step-card{ width: 290px !important; height: 320px; padding: 30px 20px; }
    .about-steps-arrow{ left: 23%; }
    .about-steps-arrow-1{ left: 48.7%; }
    .about-steps-arrow-2{ left: 74%; }
    .build-to-advance-right-wrapper{ width: 580px; }
    .build-to-advance-left-wrapper p{ padding-top: 10px; }
    .compliance-driven-wrapper{ width: 435px; }
    .compliance-driven-by span, .build-for-safety-Operations{ width: 46px; height: 46px; }

    .about-data-card{ width: 324px; }
    .about-data-card-text{ width: 264px; }
    .medical-detail-cards{ height: 180px; }
    .about-signal-management-title{ width: 530px; }
    .about-signal-management-para{ width: 590px; }
    .about-signal-management-cards{ padding: 60px 90px; height: 430px; }
    .about-reporting-compliance-left{ height: 450px; }
    .about-reporting-compliance-right{ height: 450px; }
    .about-reporting-compliance-right img{ height: 100% !important; object-fit: cover;}
    .signal-management-arrows{ margin-top: 80px; }

    /* compliance */
    .compliance-pointers-card p{ width: 380px; }
    .compliance-validation-support-card-1, .compliance-validation-support-card-4{ width: 620px; height: 230px; }
    .compliance-validation-support-card-2, .compliance-validation-support-card-3{ width: 600px; height: 230px; }
    .compliance-immutable-card-left{ width: 670px; }
    .compliance-immutable-card-right{ width: 510px; }
    .compliance-flexible-operations-right{ width: 540px; }
    .operational-card-right{ width: 460px; }
    .operational-card span{ width: 50px; height: 50px; }
    .operational-card span img{ width: 24px; height: 24px; }

    .compliance-security-btn-right{ width: 310px; }
    .compliance-security-btn-middle{ width: 360px; height: max-content; }
    .compliance-steps-card{ flex: 0 0 255px ; }
    .compliance-steps-card:first-child:before{ width: 290px; }
    .compliance-steps-card:nth-child(2):before{ width: 258px; top: -71px; }
    .compliance-steps-card:nth-child(3):before{ width: 291px; top: 22px; }
    .compliance-steps-card:nth-child(4):before{ width: 266px; top: -71px;  right: -57px; }
    .compliance-steps-card:nth-child(5):before{ width: 290px; top: 22px; }

    /* resources */
    /* .resource-heading-wrapper{ padding-top: 150px; } */
    .resources-tab-content .resource-card-image-wrapper{ height: 300px;  }
    .trending-date-span{ margin-top: 35px; }
    .resource-trending-post .blog-swiper-left{ width: 600px; }
    .resources-detail-social-links{ padding-bottom: 30px; }

    /* resourcesdetail */
    .resource-detail-banner-img{ height: 530px; }
    .blog-sm-container{ width: 900px; }
    /* .resources-detail-social-links{ padding: 30px 0; } */
    .blog-detail-text-wrapper{ padding-bottom: 60px; }

    /* contact */
    .cnct-form-row-2 input, .cnct-form-row-3 textarea{ width: 725px; }
    .cnct-form-row-1 input{ width: 342px; }

    /* footer */
    /* .footer-inner{ padding-top: 180px; } */
    .f-cta-block{ top: -115px; }
    .footer-social-icons{ font-size: 24px !important; }
    .further-link-wrapper{ padding-bottom: 8px; }
    
    .about-medical-card-row { gap: 40px; }
    .about-data-meets-medical-cards-wrapper { padding: 60px 0; }
    .about-data-card { gap: 16px; }


    /* Privacy Policy */
    .legel-page .text-block .h3{ margin-bottom: 15px; }
    .legel-page .text-block .h6{ margin-bottom: 8px; }

    /* all site svg */
    .site-all-svg{ width: 42px !important; height: 42px !important; }
    .site-all-svg img{ width: 20px !important; height: 20px !important; }
} 

@media screen and (max-width: 1439px) {
    /* font-sizes */
    /* h1, .h1{ font-size: 46px; line-height: 54px; } */
    .container-sm{ width: 900px; }
    /* about */
    .site-hero-wrapper{ height: 590px; }
    .site-hero-text{ width: 655px; gap: 25px; }
    .efficiency-step-card h3{ height: 60px; width: 100%;  }
    .build-to-advance-right-wrapper{ width: 510px; }
    .compliance-driven-wrapper{ width: 375px; }
    .build-to-advance-left-wrapper{ width: 435px; }
    .efficiency-step-card{ width: 260px; height: 413px; }
    .about-steps-arrow{ left: 22.5%; }
    .about-steps-arrow-1{ left: 48%; }
    .about-steps-arrow-2{ left: 73.6%; }
    .efficiency-step-card ul li span{ padding-top: 10px; }
    .efficiency-step-card ul li{ align-items: flex-start; }
    .compliance-driven-by span, .build-for-safety-Operations{ width: 42px; height: 42px; }
    .efficiency-steps-wrapper{ margin-top: 50px; }

    .efficiency-step-card{ height: 350px; }
    .about-data-meets-medical-cards-wrapper{ padding-bottom: 20px; gap: 20px; }
    .medical-detail-cards{ padding: 20px; height: 187px; }
    .about-signal-management-para{ width: 495px; }
    .about-reporting-compliance-left{ width: 750px; }
    .compliance-reporting-point-1{ width: 670px; }
    .about-reporting-compliance-left, .about-reporting-compliance-right{ height: 480px; }
    .about-medical-card-row-2{ height: 320px; }
    .about-medical-card-row-2 img{ height: 100% !important; object-fit: cover; }
    .about-data-card{ height: 144px; }
    .about-signal-management-cards{ height: 400px; padding: 50px; }
    .signal-management-right{ width: 425px; }
    .about-data-meets-medical-cards-wrapper{ align-items: flex-start; padding-bottom: 30px; }
    .signal-management-arrows{ margin-top: 60px; }

    /* compliance */
    .compliance-pointers-card p{ width: 100%; }
    .compliance-pointers-wrapper{ padding-top: 40px; }
    .compliance-validation-support-card-1, .compliance-validation-support-card-4{ width: 550px; height: 215px; padding: 20px; }
    .compliance-validation-support-card-2, .compliance-validation-support-card-3{ width: 530px; height: 215px; padding: 20px; }
    .compliance-validation-support-cards-wrapper{ margin-top: 40px; }
    .compliance-validation-head-text-wrapper{ width: 850px; }
    .compliance-immutable-card-left{ width: 580px; }
    .compliance-immutable-row{ gap: 40px; }
    .compliance-immutable-row-2{ padding-top: 60px; }
    .compliance-operations-head-text-wrapper{ width: 510px; }
    .operational-card-right{ width: 430px; }
    .compliance-flexible-operations-right{ width: 500px; }
    .operational-card span{ width: 48px; height: 48px; }
    .compliance-operations-stats-wrapper{ width: 550px; margin-top: 120px; }
    .compliance-security-btn-middle{ width: 320px; }
    .security-btn{ height: 60px; }

    /* resources */
    .resources-tab-content .resource-card-image-wrapper{ height: 280px; }
    /* .resource-heading-wrapper{ padding-bottom: 80px; } */
    .resource-detail-banner-img{ height: 400px; }
    .blog-sm-container{ width: 750px; }
    .blog-swiper-left{ width: 550px; height: 350px; }
    .blog-swiper-left img{ height: 350px;   object-fit: cover; }
    .blog-swiper-right h2{ margin-bottom: 15px; }

    .resource-detail-more-blogs .resource-card-image-wrapper{ height: 220px; }

    /* contact */
    .cnct-form-row-2 input, .cnct-form-row-3 textarea{ width: 660px; }
    .cnct-form-row-1 input{ width: 310px; }
    .cnct-button-wrapper .btn-icon{ width: 45px; height: 45px; }

    /* footer */
    .f-right-cols{ gap: 40px; }
    .form-control{ height: 40px; padding: 12px 15px; }
    .footer-inner{ padding-top: 190px; }
    .terms-condition-links ul .text-16{ font-size: 14px; line-height: 22px; }
    .terms-condition-links ul{ gap: 24px; }
    .foot-padding{ padding-top: 100px !important; }
}

@media screen and (max-width: 1359px) {
    /* font-sizes */
    h1, .h1{ font-size: 36px; line-height: 42px; }
    h2, .h2{ font-size: 30px; line-height: 38px; }
    h5, .h5{ font-size: 18px; line-height: 24px; }
    .container-sm{ width: 100%; }

    /* about */
    .site-hero-text{ width: 750px; }
    .site-hero-wrapper{ height: 500px; }
    .build-to-advance-right-wrapper{ width: 435px; }
    .compliance-driven-wrapper{ width: 300px; }
    .build-to-advance-left-wrapper{ width: 365px; }
    .build-to-advance-right-wrapper{ padding: 30px; }
    .efficiency-step-card h3{ height: 72px; }
    .efficiency-step-card{ width: 233px; height: 370px; padding: 20px; }
    .about-steps-arrow{ width: 30px; height: 30px; }
    .about-steps-arrow img{ width: 16px; height: 20px; }
    .about-steps-arrow{ left: 22.8%; }
    .about-steps-arrow-1{ left: 48.4%; }
    .about-steps-arrow-2{ left: 73.9%; }
    .efficiencycase-wrapper{ width: 600px; margin: 0 auto; }
    .efficiency-step-card ul li{ gap: 10px; } 
    .build-to-advance-left-wrapper p{ padding-top: 0; }

    .about-reporting-compliance-left{ width: 820px; }
    .compliance-reporting-point-1{ width: 100%; }
    .about-reporting-compliance-left, .about-reporting-compliance-right{ height: 505px; }
    .about-data-card{ width: 290px; }
    .about-data-meets-medical-cards-wrapper{ gap: 30px; }
    .about-steps-arrow { height: 24px; }

    .medical-detail-cards{ height: 170px; }
    .signal-management-text-left{ width: 410px; }
    .signal-management-right{ width: 410px; }
    .about-signal-management-cards{ height: 370px; }
    .about-reporting-compliance-left{ width: 940px; }
    .signal-management-arrows{ margin-top: 40px; }

    /* compliance */
    .compliance-pointers-wrapper{ justify-content: space-between; }
    .compliance-pointers-card{ width: calc( 32% - 10px );}
    .compliance-validation-support-card-1, .compliance-validation-support-card-4 { width: 500px; }
    .compliance-validation-support-card-2, .compliance-validation-support-card-3 { width: 480px; }
    .compliance-immutable-card-left{ padding: 30px; width: 500px; } 
    .compliance-immutable-card-right{ width: 450px;  }
    .compliance-immutable-card-1{ padding-bottom: 20px; }
    .compliance-operations-head-text-wrapper{ width: 455px; }
    .compliance-operations-stats-wrapper{ width: 500px; }
    .compliance-flexible-operations-right{ width: 435px; }
    .operational-card-right{ width: 360px; }
    .operational-card span{ width: 44px; height: 44px; }
    .compliance-security-btn-left{ width: 530px;}
    .compliance-security-btn-left div h3{ padding-bottom: 20px; }
    .compliance-security-btn-middle{ width: 340px; }
    .compliance-security-button-wrapper{ margin-top: 60px; }
    .compliance-step-span{ width: 36px; height: 36px; }

    /* resources */
    .resources-tab-content .resource-card-image-wrapper{ height: 240px; }
    .resource-heading-wrapper{ padding-top: 50px; }
    .resource-listing-tabs-wrapper{ margin-bottom: 50px; }
    .contact-hero-section{ padding-top: 50px !important; }
    .resource-detail-hero-wrapper{ padding-top: 50px; }
    .resource-detail-banner-img{ width: 100%; height: 430px; }
    .social-icons-wrapper img{ width: 24px; height: 24px; }
    .resources-detail-social-links{ padding-bottom: 30px; }
    .resource-trending-post .blog-swiper-left{ width: 560px; }

    /* contact */
    .cnct-form-row-1{ gap: 20px; }
    .cnct-form-row-2 input, .cnct-form-row-3 textarea{ width: 560px; padding: 15px 20px; }
    .cnct-form-row-1 input{ width: 270px; padding: 15px 20px; }
    .cnct-form-row-3 textarea{ height: 138px; }
    .contact-form-text-left{ width: 360px;  }
    .contact-form-card span{ width: 40px; height: 40px; }
    .contact-hero-wrapper h1{ margin-bottom: 15px; }
    .cnct-button-wrapper{ margin-top: 40px; }
    .about-data-card-text { width: 230px; }
    .about-data-card { height: 135px; }
    .medical-detail-cards-wrapper { gap: 0; justify-content: space-between; }
    .medical-detail-cards { width: calc(33% - 8px); height: 150px; padding: 15px; }
    .t-testimonial-slider .testi-desc { padding: 20px; }

    /* pricing */
    .pricing-hero-wrapper{ padding-top: 50px }

    /* footer */
    .foot-padding{ padding-top: 80px !important; }

}

@media screen and (max-width: 1199px) {
    /* fonts */
    h2, .h2{ font-size: 28px; line-height: 36px; }
    h6, .h6{ font-size: 14px; line-height: 22px; }

    /* about */
    .site-hero-wrapper{ height: 440px; }
    .site-hero-text{ width: 710px; }
    .build-to-advance-left-wrapper h2, .efficiencycase-wrapper h2, .about-data-meets-medical-inner h2, .about-signal-management-title, .about-reporting-submission-compliance-title { margin-bottom: 15px; }
    .efficiency-step-card h3{ margin-bottom: 10px;}
    .compliance-driven-by span, .build-for-safety-Operations{ width: 28px; height: 28px; }
    .efficiency-steps-wrapper{ margin-top: 40px; }
    .efficiency-step-card{ height: 370px; } 
    .compliance-driven-wrapper .h5{ margin-bottom: 10px; }
    .build-to-advance-right-wrapper{ gap: 20px; }
    .about-data-card{ width: 244px; height: 150px; }
    .about-data-card-text{ width: 198px; }

    .medical-detail-cards h4{ margin-bottom: 10px; }
    .about-reporting-compliance-left, .about-reporting-compliance-right{ height: 465px; }
    .about-reporting-compliance-left{ padding: 20px; }
    .about-reporting-submission-compliance-inner{ margin-bottom: 40px; }
    .about-signal-management-cards{ height: 320px; }
    .signal-management-text-left h3{ width: 100%; }
    .signal-management-text-left, .signal-management-right{ width: 340px; }
    .compliance-reporting-point-1{ border-bottom: 1px solid #dbd9d9; }
    /* .about-signal-management-cards-wrapper{ height: 420px !important; } */
    .about-data-meets-medical-cards-wrapper{ margin-bottom: 30px; }
    .medical-detail-cards{ height: 165px; }

    .stack{ height: 400px !important; }

    /* compliance */
    .compliance-head-text-wrapper h2{ margin-bottom: 15px; }
    .compliance-pointers-card h3{ margin-bottom: 12px; }
    .compliance-validation-head-text-wrapper h2{ margin-bottom: 15px; }
    .compliance-validation-support-card-1, .compliance-validation-support-card-4{ width: 420px; height: 200px; }
    .compliance-validation-support-card-2, .compliance-validation-support-card-3{ width: 400px; height: 200px; }
    .compliance-immutable-card-right{ width: 310px; }
    .compliance-operations-stats-wrapper{ width: 425px; padding: 20px 30px; }
    .compliance-operations-stat-card-1 p, .compliance-operations-stat-card-3 p{ margin-bottom: 0; }
    .compliance-operations-stat-card{ height: 85px; }
    .compliance-operations-head-text-wrapper{ width: 390px; }
    .operational-card-right{ width: 300px; }
    .operational-card span{ width: 40px; height: 40px; }
    .operational-card span img{ width: 20px; height: 20px; }
    .compliance-security-head-wrapper h2{ margin-bottom: 15px; }
    .compliance-security-btn-left{ width: 430px; }
    .compliance-security-btn-middle{ width: 330px;}
    .compliance-security-button-wrapper{ gap: 30px; }
    .security-btn img{ width: 12px; height: 12px; }
    .compliance-steps-card{ flex: 0 0 225px; }
    .compliance-steps-card-2, .compliance-steps-card-4, .compliance-steps-card-6{ transform: translateY(75px); }
    .compliance-steps-card:first-child:before{ width: 257px; }
    .compliance-steps-card:nth-child(2):before{ width: 228px; top: -58px; }
    .compliance-steps-card:nth-child(3):before{ width: 261; top: 17px; left: 46px; }
    .compliance-steps-card:nth-child(4):before{ width: 229px; top: -59px; right: -52px; }        
    .compliance-steps-card:nth-child(5):before { width: 255px; top: 16px; }

    /* resources */
    .resources-card-text-wrapper{ padding-top: 0; }
    /* .resource-heading-wrapper{ padding-bottom: 60px; } */
    .resources-card-btn-dtl-left span{ padding: 6px 8px; }
    .resource-card-btn-wrapper{ padding: 20px 0; }
    .resources-card-text-wrapper h3{ margin-bottom: 12px; }
    .resources-card-text-wrapper p{ margin-bottom: 8px; }
    .resource-card-date p{ font-size: 12px; line-height: 20px; }
    .resource-listing-tabs-wrapper{ margin-bottom: 40px; }
    .resource-heading-wrapper h1{ margin-bottom: 15px; }
    .resources-tab-content .resource-card-image-wrapper{ height: 200px; }
    .resource-trending-post .blog-swiper-left{ width: 430px;height: 320px; }
    .resource-trending-post .blog-swiper-left img{ width: 100%;height: 100%; object-fit: cover; }
    

    /* resource detail */
    .blog-sm-container { width: 700px; }
    .resource-detail-more-blogs .resources-card-text-wrapper{ padding-top: 20px; }
    .breadcrumb-list{ gap: 10px; font-size: 14px; line-height: 22px; }

    /* contact */
    .cnct-form-row-2 input, .cnct-form-row-3 textarea, .cnct-form-row-1 input{ width: 445px; }
    .cnct-form-row-3 textarea{ height: 120px; }
    .cnct-form-row-1{ flex-direction: column; }

    /* pricing */
    .plans-wrapper.pricing .plan-item{ display: flex; flex-direction: column; justify-content: space-between; }

    /* footer */
    .copyright{ flex-direction: column; gap: 15px; }
    .f-cta-block{ top: -100px; }
    .footer-inner { padding-top: 180px; }
    .f-col-two, .f-col-three{ width: calc( 50% - 20px ); }

    /* final changes */
    /* .about-data-card-3 .about-data-card-text h3, .about-data-card-4 .about-data-card-text h3 { width: 160px !important;  } */
    .site-all-svg{ width: 30px !important; height: 30px !important; }
    .site-all-svg img{ width: 15px !important; height: 15px !important; }
    .about-medical-card-row{ gap: 20px; }
    .about-data-meets-medical-cards-wrapper{ padding-bottom: 0; }
    .compliance-pointers-card .compliance-pointers-text h3{ width: 200px; }

}

@media screen and (max-width: 1023px) {
    h1, .h1{ font-size: 34px; line-height: 42px; }

    /* about */
    .site-hero-wrapper{ height: 400px; }
    .site-hero-text{ width: 100%; }
    .build-to-advance-wrapper{ flex-direction: column; gap: 20px; }
    .build-to-advance-left-wrapper{ width: 100%; text-align: center; }
    .build-to-advance-right-wrapper{ width: 100%; }
    .compliance-driven-wrapper{ width: 100%; }
    .build-to-advance-right-wrapper{ gap: 30px; }
    .compliance-driven-by, .build-for-real-world{ gap: 30px; }
    .compliance-driven-by span, .build-for-safety-Operations{ width: 40px; height: 40px; }
    .compliance-driven-wrapper{ width: 500px; }
    .efficiency-step-card{ width: calc(50% - 10px); }
    .efficiency-step-card h3{ height: 50px; }
    .efficiency-steps-wrapper{ display: none;}
    .efficiency-steps-wrapper-responsive{ display: flex !important; }

    .about-data-card-5{ height: 240px; }
    .aboutSwiper-wrapper .swiper-slide { width: 340px !important; height: 260px !important; margin-top: 30px; margin-bottom: 50px; }
    .aboutSwiper-wrapper .swiper-slide .efficiency-step-card {  width: 100%; }
    .aboutSwiper-wrapper .swiper-pagination { z-index: 1000; bottom: 0px !important; }
    .aboutSwiper-wrapper .swiper-pagination-bullet-active { background-color: var(--secondary-green) !important; }
    .about-reporting-compliance-left{ width: 845px; }
    .about-reporting-compliance-left, .about-reporting-compliance-right{ height: 510px; }
    .about-signal-management-cards{ height: 365px; }
    .about-data-meets-medical-cards-wrapper-responsive{ display: flex; flex-direction: column; }
    .about-data-cardd{ width: calc( 50% - 15px ); }
    .about-medical-card-row{ display: flex; flex-direction: row; flex-wrap: wrap; gap: 30px; width: 100%; }

    .about-data-card{ width: calc( 50% - 15px); height: 128px; }
    .about-data-card-text{ width: 225px; }
    .about-data-meets-medical-cards-wrapper-desktop{ display: none; }
    .about-medical-card-row-2{ margin: 0 auto; height: max-content; }
    .about-data-card-5 img{ width: 100% !important; height: 100% !important; object-fit: cover; }
    .medical-detail-cards-wrapper{ gap: 20px; }
    .medical-detail-cards{ width: 220px; height: 230px; }
    .about-data-meets-medical-cards-wrapper{ padding-top: 50px; padding-bottom: 30px; }
    .about-signal-management-content{ flex-direction: column; gap: 0px; text-align: center; }
    .about-signal-management-title{ width: 100%; }
    .about-signal-management-para{ margin: 0 auto; }
    .about-signal-management-cards{ height: 305px; padding: 30px; margin-top: 30px; }
    .about-reporting-compliance-detail-pointers{ flex-direction: column-reverse; }
    .about-reporting-compliance-left, .about-reporting-compliance-right{ width: 100%; height: max-content; }
    .about-reporting-compliance-right{ width: 100%; height: 250px; }
    .about-reporting-compliance-right img{ width: 100%;}

    /* compliance */
    .compliance-head-text-wrapper{ text-align: center; }
    .compliance-pointers-card{ width: calc( 50% - 10px );}
    .compliance-validation-head-text-wrapper{ width: 100%; text-align: center; }
    .compliance-validation-support-card-1, .compliance-validation-support-card-4{ width: 350px; height: 240px; }
    .compliance-validation-support-card-2, .compliance-validation-support-card-3{ width: 330px; height: 240px; }
    .compliance-validation-support-card h3{ margin-bottom: 12px; }
    .compliance-immutable-card-left{ width: 280px; }
    .compliance-immutable-card-right{ width: 380px; }
    .compliance-immutable-row{ flex-direction: column-reverse; gap: 20px; }
    .compliance-immutable-card-right{ width: 100%; text-align: center;  }
    .compliance-immutable-card-left{ width: 100%; }
    .compliance-immutable-card-right h2{ margin-bottom: 15px; }
    .compliance-immutable-row-2{ padding-top: 40px; }
    .compliance-operations-head-text-wrapper{ width: 320px; }
    .compliance-operations-stats-wrapper{ width: 350px; }
    .operational-card-right{ width: 240px; }
    .compliance-operations-head-text-wrapper h2{ margin-bottom: 15px; }
    .compliance-security-btn-left{ width: 365px; }
    .security-btn{ height: 45px; }
    .compliance-security-btn-middle{ width: 285px; }
    .compliance-operational-wrapper{ flex-direction: column; }
    .compliance-operations-head-text-wrapper{ width: 100%; text-align: center; margin-bottom: 30px; }
    .compliance-operations-stats-wrapper{ margin: 0 auto; }
    .compliance-flexible-operations-right{ width: 100%; flex-direction: row; gap: 20px; }
    .operational-card{ flex-direction: column; width: calc(50% - 10px); }
    .operational-card-right{ width: 100%; }
    
    /* resource */
    .resource-heading-wrapper{ padding-top: 40px; }
    .contact-hero-section{ padding-top: 40px !important; }
    .resources-card-btn-detail-right{ font-size: 14px; line-height: 22px; }
    .resources-card-text-wrapper p{  display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp:3; overflow: hidden; }
    .resources-tab-content{ width: calc( 50% - 10px); }
    .resources-cards-wrapper{ gap: 20px; }
    .resource-listing-tabs-wrapper{ margin-bottom: 30px; }
    .resource-listing-tabs-wrapper .resource-tab-btn{ padding: 6px 12px; }
    .resource-trending-post .trending-date-span{ display: none; }
    .resource-trending-post .blog-swiper-left{ width: 80%; height: 280px; }
    .resource-trending-post .resource-swiper-card{ flex-direction: column-reverse; align-items: center; justify-content: center; text-align: center; gap: 10px; }


    /* resource detail */
    .resource-detail-hero-wrapper{ padding-top: 40px; }
    .blog-sm-container{ width: 100%; }
    .resource-detail-banner-img{ height: 291px; }
    .blog-detail-text-wrapper{ padding-bottom: 40px; }
    .resources-detail-social-links .resources-card-btn-dtl-left span{ display: none; }
    .resource-detail-middle p { font-size: 14px; line-height: 22px; }
    .resource-detail-middle span{ font-size: 14px; line-height: 22px; }
    .resources-detail-social-links{ padding-bottom: 20px; }
    .resource-detail-qna h3{ margin-bottom: 12px; }
    .resource-detail-qna{ margin-top: 20px; }
    .social-icons-wrapper img{ width: 20px; height: 20px; }
    .social-icons-wrapper{ gap: 15px; }
    .resources-tab-content .resource-card-image-wrapper{ height: 180px; }

    /* contact */
    .contact-form{ flex-direction: column; }
    .contact-form-text-left{ width: 100%; }
    .contactform-text-wrapper{ text-align: center; }
    .contactform-text-wrapper h2{ margin-bottom: 15px; }
    .contact-form-address-card-wrapper{ flex-direction: row; flex-wrap: wrap; }
    .contact-form-card{ width: calc( 50% - 10px );  }
    .cnct-form-row-1{ flex-direction: row; }
    .contact-form-text-right { width: 100%; } 
    .cnct-form-row-1 input{ width: calc( 50% - 10px ); }
    .cnct-form-row-2 input, .cnct-form-row-3 textarea{ width: 100%; }
    .contact-form-address-card-wrapper{ margin-top: 50px; }
    .contact-form-card span{ width: 36px; height: 36px; }
    .contact-form-card span img{ width: 18px; height: 18px; }

    .cnct-button-wrapper{ display: flex; align-items: center; justify-content: end; margin-top: 30px; }

    /* pricing */
    .pricing-title-row{ flex-direction: column; gap: 0; text-align: center; }
    .pr-col-one, .pr-col-two{ width: 100%; }
    .pr-col-one h2{ margin-bottom: 15px; }
    .pricing-hero-wrapper{ padding-top: 40px }

    /* footer */
    .f-col-one.flex-col{ align-items: flex-start; justify-content: space-between; }
    .f-contact{ width: max-content; }
    .footer-social-icons{ font-size: 20px !important; }

    /* final changes */
    .compliance-pointers-card .compliance-pointers-text h3{ width: 100%; }
} 

@media screen and (max-width: 991px) {
    .section{ padding: 80px 0; }
    /* fonts */
    /* h1, .h1{ font-size: 30px; line-height: 38px; } */
    h2, .h2{ font-size: 26px; line-height: 34px; }
    h4, .h4{ font-size: 20px; line-height: 28px; }
    /* about */
    .build-to-advance-left-wrapper{ width: 650px; margin: 0 auto; }
    .about-data-meets-medical-cards-wrapper{ padding-top: 30px; }
    .about-data-card-5{ height: 200px; }
    .about-data-card-5 img{ height: 100% !important; object-fit: cover; }
    .about-data-meets-medical-cards-wrapper{ gap: 30px; }

    .about-reporting-submission-compliance-inner{ margin-bottom: 30px; }
    /* .about-signal-management-cards-wrapper{ height: 365px !important; } */
    .compliance-validation-support-card-2, .compliance-validation-support-card-3{ height: 220px; }
        .compliance-validation-support-card-1, .compliance-validation-support-card-4{ height: 220px; }

    /* compliance */
    .compliance-operational-wrapper{ gap: 30px; }
    .compliance-security-btn-left{ width: 365px; }
    .compliance-security-btn-left div h3{ padding-bottom: 20px; padding-right: 10px; }
    .compliance-operations-head-text-wrapper{ width: 490px;   }
    .compliance-flexible-operations-left{ margin: 0 auto; }
    /* resource */
    .resource-swiper-card{ gap: 20px; }

    /* contact */
    /* footer */
    .footer-inner{ padding-top: 160px; }

    /* Privacy Policy */
    .legel-page .text-block{ margin-bottom: 20px; }

    /* final changes */
    .about-data-card-text{ width: 80%; }
} 

@media screen and (max-width: 839px) {
    .section{ padding: 70px 0; }
    /* fonts */
    h1, .h1{ font-size: 32px; line-height: 40px; }

    /* about */
    .medical-detail-cards{ height: 190px; }
    .about-data-meets-medical-cards-wrapper{ padding-bottom: 0; }

    /* compliance */
    .site-hero-wrapper{ height: 400px; }
    .site-hero-text p{ margin-bottom: 0; }
    .compliance-driven-by span, .build-for-safety-Operations{ width: 32px; height: 32px; }
    .compliance-security-btn-middle{ width: 300px; }
    .compliance-steps-divider-desktop{ display: none; }
    .compliance-steps-divider-mobile{ display: block; }
    .compliance-steps-divider-mobile .compliance-validation-steps-wrapper{ flex-direction: column; gap: 15px; width: 70%; margin: 0 auto; margin-top: 50px; }
    .compliance-steps-divider-mobile .compliance-validation-steps-wrapper .compliance-steps-card{ flex: 0 0 0; }
    .compliance-steps-card-responsive{ width: 416px; position: relative; }
    .compliance-steps-card-responsive p { width: 275px; }
    .compliance-steps-card-2, .compliance-steps-card-4, .compliance-steps-card-6{  transform: translateY(0px); transform: translateX(60%); }
    .compliance-step-span{ background-color: #C7B0D8; }
    .compliance-validation-steps-wrapper 
    .compliance-steps-card-responsive:nth-child(odd)::before{
        content:"";
        position:absolute;
        width:405px;
        height:299px;
        background-image:url('/images/compliancepage/compliance-steps-responsive-arrow-left.svg');
        background-repeat:no-repeat;
        background-size:contain;
        top:-147px;
        left:4px;
        z-index:1;
    }

    .compliance-validation-steps-wrapper 
    .compliance-steps-card-responsive:nth-child(even)::before{
        content: "";
        z-index: 1;
        background-image: url(/images/compliancepage/compliance-steps-responsive-arrow.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 405px;
        height: 299px;
        position: absolute;
        top: -147px;
        left: -379px;
    }
    .compliance-validation-steps-wrapper 
    .compliance-steps-card-responsive:nth-child(1)::before{
        display: none;
    }
    .compliance-validation-steps-wrapper{ padding: 0; overflow-x: hidden; }

    /* resources */
    .resources-tab-content .resource-card-image-wrapper{ height: 180px; }
    .resource-detail-more-blogs{ gap: 20px; }
    .resources-card-btn-detail-right{ font-size: 12px; line-height: 20px; }
    .trending-date-span .text-16{  font-size: 14px; line-height: 20px; }
    .trending-post-pn{ width: 30px; height: 30px; }
    .trending-post-pn .text-14{ font-size: 12px; line-height: 20px; }

    /* contact  */
    .cnct-button-wrapper .btn-icon{ width: 42px; height: 42px; }

    /* footer */
    .foot-padding{ padding-top: 70px !important; }

    /* all svgs */
    .site-all-svg{ width: 32px !important; height: 32px!important    ; }
    .site-all-svg img{ width: 16px !important; height: 16px!important    ; }

    .compliance-validation-support-card-2, .compliance-validation-support-card-3, .compliance-validation-support-card-1, .compliance-validation-support-card-4{ height: 210px; }
    .operational-card-1 h4{ width: 150px; }


    /* .compliance-steps-card-2, .compliance-steps-card-4, .compliance-steps-card-6{ display: flex; align-items: flex-end; flex-direction: column; text-align: right; } */
}

@media screen and (max-width: 767px) {
    /* fonts */
    h1, .h1{ font-size: 28px; line-height: 36px; }
    h2, .h2, .fq-col-one h2{ font-size: 24px; line-height: 32px; }
    /* about */
    .site-hero-text{ width: 100%; }
    .site-hero-wrapper{ height: 280px; }
    .build-to-advance-left-wrapper{ width: 100%; }
    .aboutSwiper-wrapper .swiper-slide{ width: 300px !important; }
    .efficiencycase-wrapper{ width: 100%; }
    .about-data-card-text h3{ margin-bottom: 12px; }
    .about-data-card-text{ width: 200px; }
    .compliance-driven-wrapper{ width: 375px; }
    .medical-detail-cards{ width: 100%; height: max-content; }
    .medical-detail-cards-wrapper{ flex-direction: column; gap: 30px; }

    .about-reporting-compliance-detail-pointers{ flex-direction: column-reverse; }
    .about-reporting-compliance-left, .about-reporting-compliance-right{ width: 100%; height: auto; }
    .about-reporting-compliance-right img{ width: 100% !important; height: 250px !important; object-fit: cover; object-position: center; }
    /* .about-signal-management-cards{ flex-direction: column; } */
    .signal-management-text-left, .signal-management-right{ width: 100%; }

    .stack { height: 375px !important; }

    /* compliance */
    .compliance-validation-support-card{ width: calc( 50% - 10px ); height: 260px; }
    .compliance-immutable-row{ flex-direction: column-reverse; gap: 30px;  }
    .compliance-immutable-card-right{ width: 80%; text-align: center; margin: 0 auto; }
    .compliance-immutable-card-right p{ margin-bottom: 0; }
    .compliance-immutable-card-left{ width: 100%; padding: 20px; }
    .compliance-operational-wrapper{ flex-direction: column; gap: 30px; }
    .compliance-operations-head-text-wrapper{ width: 100%; text-align: center; }
    .compliance-operations-stats-wrapper{ margin: 0 auto; margin-top: 30px; }
    .operational-card, .compliance-flexible-operations-right{ flex-direction: column; width: 100%; }
    .operational-card{ flex-direction: row; }
    .operational-card-right{ width: 420px; }
    .compliance-flexible-operations-right{ gap: 20px; }
    .operational-card span{ width: 36px; height: 36px; }
    .compliance-security-btn-middle{ width: 260px; height: 174px; }
    .compliance-steps-card-responsive{ width: 290px; }
    .compliance-steps-divider-mobile .compliance-validation-steps-wrapper{ gap: 0; }
    .compliance-validation-steps-wrapper .compliance-steps-card-responsive:nth-child(2n):before { width: 266px; top: -136px; left: -241px; } 
    .compliance-validation-steps-wrapper .compliance-steps-card-responsive:nth-child(odd):before{ width: 266px; top: -136px; } 
    .compliance-security-button-wrapper{ display: none; }
    .compliance-security-responsive-accordion{ display: block; margin-top: 50px; }
    .eco-system-accord h3{ margin-bottom: 0 !important; }
    .compliance-accordions .compliance-security-accordion-title button.open{ background-color: red; }
    .compliance-security-accordion-title{ margin-bottom: 0; }
    .compliance-security-accordion-desciption{ background-color: #c7b0d8; padding: 10px; border-top: 1px solid #B8B8B8; border-radius: 0 0 10px 10px; }
    .compliance-accordions .text-muted-foreground{ color: #c7b0d8; } 
    
    /* resources */
    .resource-listing-tabs-wrapper .resource-tab-btn{ padding: 6px 12px; }
    .resources-card-btn-dtl-left span{ display: none; }
    .resources-tab-content{ width: 80%; margin: 0 auto ; }
    .resources-tab-content .resource-card-image-wrapper{ height: 210px; }
    .resource-listing-tabs-wrapper .resource-tab-btn{ margin-bottom: 0; }
    .resource-trending-post .blog-swiper-left{ width: 100%;  height: 250px; }
    .resource-trending-post .blog-swiper-right{ width: 100%; }

    /* resource detail */
    .resource-detail-banner-img{ height: 255px; }
    .resource-detail-middle{ display: none; }
    .blog-detail-text-wrapper{ padding: 30px 0; }
    .resources-detail-social-links{ padding: 20px 0; }
    .resource-detail-more-blogs{ flex-direction: column; }

    /* contact */
    .contact-form-card div{ width: 180px; }
    .cnct-form-row-1 input, .cnct-form-row-3 textarea{ padding: 12px 20px; }
    .cnct-form-row-3 textarea{ height: 100px; }
    .cnct-button-wrapper .btn-icon{ width: 40px; height: 40px; }
    .cnct-button-wrapper .btn-icon .cnct-svg-arrow{ width: 20px; height: 20px; }

    /* footer */
    .f-col-three{ width: calc( 50% - 20px ); }
    .f-right-cols{ justify-content: space-between; }
    .copyright-links{ flex-wrap: wrap; align-items: center; justify-content: center; gap: 20px; }
    .copyright-links .text-16{ font-size: 12px; line-height: 20px; }
    .terms-condition-links ul .text-16{ font-size: 12px; line-height: 20px; }
    .copyright{ gap: 10px; }
    .f-cta-block{ width: 100%; top: -85px; }

    /* privacy policy */
    .legel-page .text-block .h3{ margin-bottom: 12px; }
    .legel-page{ padding-top: 30px !important;  }
    .operational-card-1 h4{ width: 100%; }
}

@media screen and (max-width: 639px) {
    .section{ padding: 50px 0; }

    /* fonts */
    h1, .h1{ font-size: 26px; line-height: 32px; }
    h2, .h2, .fq-col-one h2{ font-size: 22px; line-height: 30px; }
    h4, .h4{ font-size: 18px; line-height: 26px; }
    h5, .h5{ font-size: 16px; line-height: 22px; }
    .text-18{ font-size: 14px; line-height: 22px; }

    /* about */
    .site-hero-text{ width: 100%; }
    .aboutSwiper-wrapper .swiper-slide{ width: 260px !important; }
    .compliance-driven-wrapper{ width: 380px; }
    .medical-detail-cards-wrapper{ flex-direction: column; }
    .medical-detail-cards{ width: 100%; height: auto; }
    
    /* compliance */
    .compliance-validation-support-card{ height: 245px; }
    .compliance-pointers-card h3{ margin-bottom: 10px; margin-top: 8px; }
    .compliance-immutable-card-right{ width: 100%; }
    .operational-card-right{ width: 445px; }

    .compliance-steps-card-responsive p{ width: 100%; }
    .compliance-steps-card-responsive{ width: 290px; }
    .compliance-validation-steps-wrapper .compliance-steps-card-responsive:nth-child(2n):before { width: 279px; top: -125px; left: -256px; }
    .compliance-validation-steps-wrapper .compliance-steps-card-responsive:nth-child(odd):before{width: 279px;  top: -125px; }

    /* resources detail */

    .resource-detail-qna{ margin-top: 25px; }
    .resource-detail-qna h3{ margin-bottom: 10px; }
    /* .resource-listing-tabs-wrapper{ margin: 0 auto; } */
    .resource-swiper-card{ gap: 5px; }
    .blog-swiper-right{ width: 90%; }
    .blog-swiper-left, .blog-swiper-left{ width: 80%; }

    /* contact */

    /* footer */
    .footer-inner{ padding-top: 150px; }
}

@media screen and (max-width: 575px) {
    .site-hero-wrapper{ height: 240px; }
    .resource-heading-wrapper, .contact-hero-section{ padding-top: 50px !important; }

    .compliance-driven-wrapper{ width: 310px; }
    .aboutSwiper-wrapper .swiper-slide{ width: 220px !important; height: 295px !important; }
    .about-medical-card-row-2{ width: 100%; }
    .about-data-card-text{ width: 80%; }
    /* .about-data-card{ width: 80%; height: auto; } */
    .about-signal-management-cards{ flex-direction: column; gap: 20px; padding: 30px; }
    .signal-management-text-left{ width: 100%; }
    .signal-management-text-left p{ margin-bottom: 0; }
    .about-signal-management-para{ width: 100%; }
    .signal-management-right{ width: 290px; }
    .about-reporting-compliance-right img{ height: 230px !important; }
    .site-hero-text, .build-to-advance-left-wrapper, .efficiencycase-wrapper, .about-data-meets-medical-inner h2, .data-meets-medical-desc, .about-signal-management-content, .about-reporting-submission-compliance-inner{ text-align: left; }
    .stack{ height: 391px !important; }
    .about-signal-management-cards{ height: max-content; }
    .signal-management-right{ width: 210px; }
  

    /* compliance */
    .compliance-validation-support-card{ height: 250px; }
    .operational-card-right{ width: 385px; }
    .compliance-steps-card-responsive{ width: 70%; }
    .compliance-steps-card-responsive h3{ margin-top: 10px; }
    .compliance-validation-steps-wrapper{ align-items: center; gap: 30px !important; }
    .compliance-steps-card-2, .compliance-steps-card-4, .compliance-steps-card-6{ transform: translate(0); }
    .compliance-validation-steps-wrapper .compliance-steps-card-responsive:nth-child(2n):before{ display: none; }
    .compliance-validation-steps-wrapper .compliance-steps-card-responsive:nth-child(2n+1)::before{ display: none; }
    .compliance-steps-head-text-wrapper{ text-align: left; }
    .compliance-step-span{ background-color: #C7B0D8;  }
    .compliance-steps-card-responsive{ display: flex; align-items: flex-start; gap: 20px; }
    .compliance-steps-card-responsive h3{ margin-top: 0; }
    .compliance-steps-card-text{ width: 80%; }

    /* resources */
    .resource-heading-wrapper{ text-align: left; }
    .resource-listing-tabs-wrapper{ width: 100%; }
    /* .resource-listing-tabs-wrapper{ flex-wrap: wrap; gap: 20px; } */
    /* .resource-listing-tabs-wrapper .resource-tab-btn{ width: 290px !important; } */
    .resources-card-text-wrapper p{ margin-bottom: 12px; }
    .resources-tab-content .resource-card-image-wrapper{ height: 200px; }
    .blog-swiper-right{ width: 100%; height: 195px; text-align: left; align-items: flex-start; }
    .resource-trending-post .blog-swiper-left{ height: 220px; }

    /* contact */
    .contact-form-card div{ width: 152px; }
    .contact-hero-wrapper{ text-align: left; }
    .contactform-text-wrapper{ text-align: left; }
    .contact-form-address-card-wrapper{ margin-top: 40px; }
    .compliance-head-text-wrapper{ text-align: left; }
   .compliance-validation-head-text-wrapper{ text-align: left; }
   .compliance-immutable-card-right{ text-align: left; }
   .compliance-security-head-wrapper{ text-align: left; }
   .compliance-operations-head-text-wrapper{ text-align: left; }

    /* pricing */
    .pricing-title-row{ text-align: start; }
    .pricing-hero-wrapper{ padding-top: 50px }


    /* footer */
    .f-right-cols{ gap: 30px; justify-content: left; }
    .footer-inner-main{ gap: 20px; }
    .f-cta-block{ top: -85px; }
    .footer-inner{ padding-top: 130px; }

    /* display flex */
    .compliance-steps-divider-mobile{ display: none; }
    .compliance-steps-divider-responsive{ display: flex; }
    .compliance-steps-divider-responsive .compliance-steps-card-responsive{ width: 360px; }
    .compliance-carousel { width: 100%; overflow: hidden; position: relative; }
    .compliance-carousel-track { display: flex; gap: 20px; width: max-content; margin-top: 30px; animation: carouselMove 15s linear infinite; }
    .compliance-steps-card-responsive { flex: 0 0 300px; min-width: 300px; background: #1c1c1c; padding: 22px; color: white; }
    .compliance-carousel:hover .compliance-carousel-track { animation-play-state: paused; }
    @keyframes carouselMove {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-50%);
        }
    }
}

@media screen and (max-width: 480px) {
    h1, .h1{ font-size: 24px; line-height: 32px; }

    .site-hero-wrapper{ height: 250px; }
    /* about */
    .aboutSwiper-wrapper .swiper-slide{ width: 230px !important; }
    .signal-management-right{ width: 260px; }
    .stack{ height: 450px !important; }
    .about-data-card{ width: 100%; height: 100%; }
    .about-medical-card-row{ flex-direction: column; }
   
   /* compliance */
   .compliance-head-text-wrapper h2{ margin-bottom: 12px; }
   .compliance-pointers-wrapper{ padding-top: 30px; }
   .compliance-validation-support-card{ width: 100%; height: 100%; }
   .compliance-validation-row{ flex-direction: column; gap: 20px; }

   .compliance-operations-head-text-wrapper p{ margin-bottom: 0; }
   .operational-card-right{ width: 350px; } 

   .compliance-validation-support-card{ display: flex; align-items: flex-start; gap: 20px; }
   .ongoing-support-text-card{ width: 80%; }
   .compliance-steps-card-responsive{ width: 80%; }

   /* resources detail */
   .resource-detail-banner-img{ height: 200px; }
   .resource-listing-tabs-wrapper{ flex-wrap: wrap; gap: 20px; }
    .resource-listing-tabs-wrapper .resource-tab-btn{ width: 20% !important; }
    .resource-listing-tabs-wrapper{ gap: 10px; }

   /* contact */
   .contact-form-address-card-wrapper{ flex-direction: column; }
   .contact-form-card{ width: 100%; }
   .contact-form-card div{ width: 200px; }
   .cnct-form-row-1{ flex-direction: column; }
   .cnct-form-row-1 input{ width: 100%; padding: 15px 20px; }

   /* footer */
   .footer-social-icons{ font-size: 18px !important; }
   .f-right-cols{ margin-top: 10px;}
   .social-links{ gap: 12px; }
   .f-cta-block{ top: -75px; text-align: left !important; }
   footer{ margin-top: 75px; }
   .copyright{ flex-direction: column-reverse; }
   /* .terms-condition-links ul{ width: 100%; justify-content: space-between; gap: 200px; } */
   .copyright{ flex-direction: row; justify-content: space-between; align-items: flex-start; }
    .copyright-links{ flex-direction: column; align-items: flex-start; gap: 10px; }
   .terms-condition-links ul{ flex-direction: column; gap: 10px; }
   .terms-condition-links ul li{ font-size: 12px; line-height: 20px; }

   /* reso */
   .breadcrumb-list{ flex-wrap: nowrap ; gap: 6px; align-items: flex-start; }

   /* final changes and fixes  */
   .compliance-pointers-card{ width: 100%; display: flex; align-items: flex-start; gap: 20px; }
   .compliance-pointers-card h3{ margin-top: 0; }
   .compliance-pointers-text{ width: 80%; }
   .compliance-pointers-wrapper{ flex-direction: column; width: 100%; }
   .signal-management-arrow-right .signal-arrows  { width: 10px !important; height: 10px !important; }
}

@media screen and (max-width: 459px) {
    /* .section{ padding: 40px 0; } */
    /* about */
    .build-to-advance-right-wrapper{ padding: 20px; }
    .compliance-driven-wrapper{ width: 100%; }
    /* .compliance-driven-by span, .build-for-safety-Operations{ width: 38px !important; height: 32px !important; } */
    .about-reporting-compliance-right img{ height: 300px !important;  }
    .signal-management-right{ width: 230px; }
    .about-data-card-text{ width: 300px; }
    .about-reporting-compliance-right img{ height: 200px !important; }

    /* compliance  */
    .operational-card-right{ width: 290px; }
    .compliance-steps-divider-mobile .compliance-validation-steps-wrapper{ gap: 20px; }
    .compliance-steps-card-responsive{ width: 100%; }
    .compliance-steps-card-2, .compliance-steps-card-4, .compliance-steps-card-6 { transform: translateX(0); }
    .fq-show-icon { top: 50%; transform: translateY(-50%); }
    .b-feature-item img { height: 200px; }
    .operational-card span img{ width: 18px; height: 18px; }
    .operational-card span{ width: 32px; height: 32px; }

    /* resources */
    .resources-tab-content{ width: 100%; }
    .resource-listing-tabs-wrapper{ gap: 20px !important; }
    .resource-listing-tabs-wrapper .resource-tab-btn{ width: 50% !important; }
    .blog-swiper-right{ height: 210px; }
    .resource-trending-post .blog-swiper-left{ height: 200px; }

    /* footer */
    .f-right-cols{ flex-direction: column; }
    /* .copyright-links{ flex-direction: column-reverse; } */
}

@media screen and (max-width: 400px) {
    .aboutSwiper-wrapper .swiper-slide{ width: 100% !important; height: 235px !important; margin-top: 10px; }
    .about-hero-wrapper{ background-position: left; }
    .about-data-card-text{ width: 260px; }
    .compliance-driven-by, .build-for-real-world{ gap: 20px; }
    .compliance-driven-wrapper{ width: 80%; }
    .efficiency-step-card h3{ height: max-content; margin-bottom: 12px; }
    .signal-management-right{ width: 100%; }
    .stack{ height: 480px !important; } 
    .about-data-card-text{ width: 80%; }

    /* compliance */
    /* .compliance-immutable-row{ padding-top: 40px; } */
    .compliance-operations-stats-wrapper{ width: 100%; padding: 20px; }
    .compliance-operations-stat-card-1, .compliance-operations-stat-card-3{ width: 100%; }
    .operational-card-right{ width: 270px; }

    /* resources */
    /* .resource-heading-wrapper, .contact-hero-section{ padding-bottom: 40px; } */

    /* resourcedetail */
    .resources-detail-social-links{ padding-bottom: 10px; }

    .recent-activity-circle { width: 280px; height: 280px; }
    .ra-circle-mini { width: 220px; height: 220px; }
    .book-demo-inner { margin-top: 40px; }
    .op-dashed-circle svg { width: 190px; height: 190px; }
    .op-item-title.two, .op-item-title.four { top: 52%; }
    .eco-img img { height: 220px; } 
    .b-feature-item img, .b-post-items.mini .b-post-img img, .b-post-items.mini .b-post-img { height: 180px; }
    .faq-wrapper.section { padding-top: 30px !important; }
    .post-item:last-child .h4 { margin-bottom: 0 !important; }
    .main-title.center { margin-bottom: 50px; }
    .stats-count-row { margin-top: 20px; }
    .nav-seprator { width: 40px; }
    .nav-wrapper { padding: 10px 0; }

    /* footer */
    .f-col-two, .f-col-three{ width: 100%; }
    .footer-inner{ padding-top: 150px; }
    .f-cta-block{ top: -85px; } /* top: -75px; */

    /* finalchanges */
    .compliance-validation-support-card{ height: 205px; }
}

@media screen and (max-width: 374px) {
    .operational-card-right{ width: 265px; }
}

@media screen and (max-width: 359px) {}