@media screen and (max-width: 575px) { .container { max-width: calc(100% + 36px); } }
@media screen and (min-width: 640px) { .container { max-width: calc(500px + 36px); } }
@media screen and (min-width: 768px) { .container { max-width: calc(700px + 36px); } }
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1024px) { .container { max-width: calc(800px + 36px); } }
@media screen and (min-width: 1200px) { .container { max-width: calc(960px + 36px); } }
@media screen and (min-width: 1360px) { .container { max-width: calc(1060px + 36px); } }
@media screen and (min-width: 1440px) { .container { max-width: calc(1200px + 36px); } }
@media screen and (min-width: 1600px) { .container { max-width: calc(1300px + 36px); } }
@media screen and (min-width: 1800px) { .container { max-width: calc(1440px + 36px); } }


/* ======= MIN-WIDTH COMPLETED ======= */


@media screen and (max-width: 1799px) {
    .ai-modals-row :not(.ai-center-icon) img { width: 38px; }

    .tbl-col-1 { width: 135px; }
    .tbl-col-2 { width: 220px; }
    .tbl-col-3 { width: 220px; }
    .tbl-col-4 { width: 245px; }
    .tbl-col-5 { width: 180px; }
    .tbl-col-6 { width: 150px; }
    .table-headers .h5, .table-standard .h5, .table-enterprise .h5 { font-size: 22px; }
    .table-standard .h6, .table-enterprise .h6 { font-size: 18px; }
}

@media screen and (max-width: 1599px) {
    .stats-item { padding: 18px; }
    .stats-item.one { height: 150px; }
    .stats-item.two { height: 220px; }
    .stats-item.three { height: 300px; }
    .nav-seprator { width: 90px; }
    .name-initial { width: 60px; min-width: auto; height: 60px; }
    .ai-modals-row div:not(.ai-center-icon) { width: 60px; height: 60px; }
    .ai-modals-row :not(.ai-center-icon) img { width: 32px; }
    .ai-icon.assignment { bottom: 30%; right: 10%; }

    .table-headers, .table-standard, .table-enterprise { padding: 14px 0; }
    .table-headers .h5, .table-standard .h5, .table-enterprise .h5 { font-size: 20px; }
    .table-standard .h6, .table-enterprise .h6 { font-size: 17px; }
}

@media screen and (max-width: 1439px) {
    .stats-item.one { height: 140px; }
    .stats-item.two { height: 200px; }
    .stats-item.three { height: 260px; }

    .tbl-col-1, .tbl-col-2, .tbl-col-3, .tbl-col-4, .tbl-col-5 { padding-right: 26px; }
    .table-headers .h5, .table-standard .h5, .table-enterprise .h5 { font-size: 18px; }
    .table-standard .h6, .table-enterprise .h6 { font-size: 16px; }
    .tbl-col-2 { width: 180px; }
    .tbl-col-3 { width: 182px; }
    .tbl-col-4 { width: 200px; }
    .tbl-col-5 { width: 150px; }
    .tbl-col-6 { width: 130px; }
}

@media screen and (max-width: 1359px) {
    .ai-modals-row div:not(.ai-center-icon) { width: 55px; height: 55px; }
    .ai-modals-row :not(.ai-center-icon) img { width: 28px; }
    .ai-center-icon { width: 140px; height: 140px; }
    .ai-center-icon img { width: 75px; }
    .stats-item { padding: 16px; }
    .stats-count .h6 { font-size: 17px; }
    .stats-item.one { height: 130px; }
    .stats-item.two { height: 190px; }
    .stats-item.three { height: 250px; }
    .tools-item.orange, .tools-item.green { width: 45%; }

    .tbl-col-1, .tbl-col-2, .tbl-col-3, .tbl-col-4, .tbl-col-5 { padding-right: 20px; }
    .table-headers .h5, .table-standard .h5, .table-enterprise .h5 { font-size: 17px; }
    .table-standard .h6, .table-enterprise .h6 { font-size: 15px; }
    .tbl-col-1 { width: 110px; }
    .tbl-col-2 { width: 168px; }
    .tbl-col-3 { width: 170px; }
    .tbl-col-4 { width: 185px; }
    .tbl-col-5 { width: 140px; }
    .tbl-col-6 { width: 114px; }

    .ps-content .h5 { width: 70%; }
    .navbar-links { gap: 35px; }
}

@media screen and (max-width: 1199px) {
    .stats-count .h6 { font-size: 16px; }
    .stats-item { width: 165px; }
    .ai-modals-row div:not(.ai-center-icon) { width: 50px; height: 50px; }
    .ai-center-icon { width: 120px; height: 120px; }
    .ai-center-icon img { width: 65px; }

    .tbl-col-1, .tbl-col-2, .tbl-col-3, .tbl-col-4, .tbl-col-5 { padding-right: 10px; }
    .table-headers .h5, .table-standard .h5, .table-enterprise .h5 { font-size: 15px; line-height: 1; }
    .table-standard .h6, .table-enterprise .h6 { font-size: 13px; line-height: 1; }
    .table-headers, .table-standard, .table-enterprise { padding: 12px 0; }
    .tbl-col-1 { width: 86px; }
    .tbl-col-2 { width: 140px; }
    .tbl-col-3 { width: 140px; }
    .tbl-col-4 { width: 155px; }
    .tbl-col-5 { width: 120px; }
    .tbl-col-6 { width: 110px; }
    
    .pricing-comparison-wrapper .main-title.center { margin-bottom: 20px; }
    .ps-content .h5 { width: 90%; }
    .navbar-links { gap: 28px; }
}

@media screen and (max-width: 1023px) {
    .hamburger { border-radius: 0px; }
    .nav-mobile { position: absolute; width: 50%; height: max-content; }
    .nav-wrapper { position: relative; }
    .nav-mobile.active { background-color: var(--white); padding: 30px; }
    .nav-mobile .nav-link.text-18 { font-size: 18px; line-height: 26px; }
    .navbar-links.nav-mobile { top: 122px; right: 0; gap: 0; border-radius: 0px; }
    .mobile-menu-ul li { margin-bottom: 12px; }
    .mobile-menu-ul li:last-child { margin-bottom: 0; }
    .menu-hl { display: block; width: 100%; height: 1px; background-color: var(--black); margin: 20px 0; opacity: 0.4; }
    .nav-contact-block a { font-size: 16px; line-height: 24px; display: flex; align-items: center; gap: 10px; color: var(--grey); }
    .nav-connect-socials { margin-top: 20px; display: flex; align-items: center; gap: 10px; }
    .nav-connect-socials a { font-size: 20px; line-height: 1; }
    .ai-icon.chat { right: 10%; }
    .ai-icon.assignment { bottom: 25%; right: 16%; }
    .ai-icon.add-ad { top: 37%; }
    .stats-item { padding: 14px; }
    .stats-item.one { height: 115px; }
    .stats-item.two { height: 165px; }
    .stats-item.three { height: 215px; }
    .tools-item.orange, .tools-item.green { width: 50%; }
    .hamburger { width: 40px; height: 40px; }

    .statistic-wrapper + .tools-wrapper { padding-bottom: 40px; }
    
    .compari-tbl { display: flex; }
    .table-headers, .table-standard, .table-enterprise { flex-direction: column;  width: 33.33%; border-bottom: none; text-align: center; }
    .tbl-col-1, .tbl-col-2, .tbl-col-3, .tbl-col-4, .tbl-col-5, .tbl-col-6 { width: 100%; padding: 10px 20px; border-bottom: 1px solid rgba(229, 229, 229, 0.5);  }
    .tbl-col-6 { border-right: 1px solid rgba(229, 229, 229, 0.5); }
    .table-enterprise > * { border-right: 0px !important; }
    .table-headers .h5, .table-standard .h5, .table-enterprise .h5 { font-size: 16px; line-height: 1; }
    .table-standard .h6, .table-enterprise .h6 { font-size: 14px; line-height: 1; }

    .ps-content .h5 { width: 100%; }
    .ps-content .h6 { width: 100%; }

    .f-right-cols { gap: 30px; }
    .footer-links li { padding-bottom: 6px; }
}

@media screen and (max-width: 991px) {
    .nav-mobile { width: 45%; }
    .nav-mobile.active { padding: 25px; }
    .mobile-menu-ul li { margin-bottom: 8px; }
    .nav-mobile .nav-link.text-18 { font-size: 16px; line-height: 22px; }
    .nav-contact-block a { font-size: 15px; line-height: 23px; }
    .nav-connect-socials { margin-top: 18px; }
    .nav-connect-socials a { font-size: 18px; line-height: 1; }

    .statistic-wrapper + .tools-wrapper { padding-bottom: 60px; }
} 

@media screen and (max-width: 839px) {
    .ai-modals-row div:not(.ai-center-icon) { width: 45px; height: 45px; }
    .ai-modals-row :not(.ai-center-icon) img { width: 24px; }
}

@media screen and (max-width: 767px) {
    .hamburger { gap: 4px; }
    .nav-mobile { width: 70%; }
    .nav-mobile.active { padding: 20px; }
    .navbar-links.nav-mobile { top: 100px; }
    .bar { width: 18px; }
    .hamburger.active .bar:first-child {  transform: translateY(7px) rotate(45deg); }
    .hamburger.active .bar:nth-child(3) { transform: translateY(-5px) rotate(-45deg); }
    .nav-connect-socials a { font-size: 20px; }

    .ai-icon.person { top: 10%; left: 10%; }
    .ai-icon.add-reaction {  bottom: 30%; left: 20%; }
    .ai-icon.calender { bottom: 25%; }
    .ai-icon.thumb-up { top: 22%; right: 25%; }
    .stats-count .h6 { font-size: 14px; }
    .ai-center-icon { width: 100px; height: 100px; }
    .ai-center-icon img { width: 55px; }

    .statistic-wrapper + .tools-wrapper { padding-bottom: 70px; }
    .modals-wrapper.section { height: 310px; }
    .curve-sm { top: 66%; }
    .curve-lg { top: 60%; }
    .eco-title { height: max-content; }
    
    .table-headers { width: 40%; }
    .table-standard { width: 30%; }
    .table-enterprise { width: 30%; }
}

@media screen and (max-width: 639px) {                                                                                                              
    .nav-mobile { width: 60%; }
    .mobile-menu-ul li { margin-bottom: 6px; }
    .tools-item.orange, .tools-item.green { width: 80%; }
    .tools-item .h6 { margin-bottom: 0; }
    .b-feature-item, .b-post-items.mini { width: 75%; margin: 0 auto; }
    .team-testimonial-inner { gap: 20px; }
}

@media screen and (max-width: 575px) {
    .nav-mobile { width: 320px; }
    .stats-list { gap: 15px; }
    .stats-item.one { width: 250px; height: 100px; }
    .stats-item.two { width: 310px; height: 100px; }
    .stats-item.three { width: 370px; height: 100px; }
    .section { padding: 60px 0; }
    .ai-icon.person { top: 0%; left: 46%; }
    .ai-icon.add-ad { top: 14%; right: 10%; }
    .ai-icon.thumb-up { top: auto; bottom: 30%; right: 12%; }
    .ai-icon.chat { inset: auto auto -2% 52%; }
    .ai-icon.assignment { bottom: 0%; left: 17%; right: auto; }
    .ai-icon.calender { bottom: 35%; left: 5%; }
    .ai-icon.add-reaction { top: 8%; bottom: auto; left: 12%; }
    .curve-lg { top: 50%; }
    .b-feature-item, .b-post-items.mini { width: 80%; }
    .ai-icon.thumb-up { right: 5%; }
    .ai-icon.chat { inset: auto auto 0% 60%;}
    .ai-icon.assignment { left: 20%; }
    .curve-lg { top: 54%; }
    .b-post-items.mini .b-post-img img { height: 220px; }
    .b-post-items.mini .b-post-img, .b-feature-item img { height: 220px; }
    .fq-text { width: 90%; }
    
    .modals-wrapper.section { height: 400px; }
    .curve-lg { top: 60%; }
    
    .table-headers { width: 45%; }
    .table-standard { width: 27%; }
    .table-enterprise { width: 27%; }
}

@media screen and (max-width: 480px) {
    .stats-item.one { width: 220px; height: 90px; }
    .stats-item.two { width: 290px; height: 90px; }
    .stats-item.three { width: 350px; height: 90px; }
    .b-feature-item, .b-post-items.mini { width: 100%; }
        
    .tbl-col-1, .tbl-col-2, .tbl-col-3, .tbl-col-4, .tbl-col-5, .tbl-col-6 { padding: 6px }
    .table-headers { width: 46%; }
    .table-standard { width: 28%; }
    .table-enterprise { width: 28%; }
}

@media screen and (max-width: 459px) {
    .nav-mobile { width: calc(100% + 36px); transform: translate(18px, 0) !important; }
    .navbar-links.nav-mobile { top: 60px; }
    .nav-mobile.active { box-shadow: none; }
    .tools-item.orange, .tools-item.green { width: 100%; }
    
    .statistic-wrapper + .tools-wrapper { padding-bottom: 50px; }
    .modals-wrapper.section { height: 440px; }
    
    .table-headers, .table-standard, .table-enterprise { text-align: left; }
    .table-headers .h5, .table-standard .h5, .table-enterprise .h5 { font-size: 14px; }
    .table-standard .h6, .table-enterprise .h6 { font-size: 12px; }

}

@media screen and (max-width: 400px) {
    .navbar-links.nav-mobile { top: 50px; }
    .nav-mobile.active { padding-bottom: 40px; }
    .stats-item.one { width: 70%; height: 85px; }
    .stats-item.two { width: 85%; height: 85px; }
    .stats-item.three { width: 100%; height: 85px; }
    
    /***Shalaka****/
    .recent-activity-circle { width: 240px; height: 240px; }
    .ra-circle-mini { width: 180px; height: 180px;}
    .ra-graph-images { width: 140px; }
    .curve-lg { top: 64%; }
    .main-title.center { margin-bottom: 30px; }
    .stats-col-two { margin-bottom: 0px; }
}

@media screen and (max-width: 374px) {
    .curve-lg { top: 61%; }
    .table-headers { width: 46%; }
    .table-standard { width: 26%; }
    .table-enterprise { width: 28%; }
    .table-headers .h5, .table-standard .h5, .table-enterprise .h5 { font-size: 13px; }
    .table-standard .h6, .table-enterprise .h6 { font-size: 12px; }
}

@media screen and (max-width: 359px) {}