/* @media screen and (max-width: 575px) { .container { max-width: calc(100% + 36px); } }
@media screen and (min-width: 640px) { .container { max-width: calc(600px + 36px); } }
@media screen and (min-width: 768px) { .container { max-width: calc(700px + 36px); } }
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1024px) { .container { max-width: calc(840px + 36px); } }
@media screen and (min-width: 1360px) { .container { max-width: calc(992px + 36px); } }
@media screen and (min-width: 1440px) { .container { max-width: calc(1180px + 36px); } }
@media screen and (min-width: 1600px) { .container { max-width: calc(1280px + 36px); } }
@media screen and (min-width: 1800px) { .container { max-width: calc(1440px + 36px); } } */


@media screen and (max-width: 575px) { .container { max-width: calc(100% + 36px); } }
@media screen and (min-width: 640px) { .container { max-width: calc(500px + 36px); } }
@media screen and (min-width: 768px) { .container { max-width: calc(600px + 36px); } }
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1024px) { .container { max-width: calc(800px + 36px); } }
@media screen and (min-width: 1200px) { .container { max-width: calc(960px + 36px); } }
@media screen and (min-width: 1360px) { .container { max-width: calc(1060px + 36px); } }
@media screen and (min-width: 1440px) { .container { max-width: calc(1200px + 36px); } }
@media screen and (min-width: 1600px) { .container { max-width: calc(1300px + 36px); } }
@media screen and (min-width: 1800px) { .container { max-width: calc(1440px + 36px); } }


/* ======= MIN-WIDTH COMPLETED ======= */


@media screen and (max-width: 1799px) {}

@media screen and (max-width: 1599px) {} 

@media screen and (max-width: 1439px) {}

@media screen and (max-width: 1359px) {}   

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 1023px) {}

@media screen and (max-width: 991px) {} 

@media screen and (max-width: 839px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 575px) {}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 459px) {}

@media screen and (max-width: 400px) {}

@media screen and (max-width: 374px) {}

@media screen and (max-width: 359px) {}